#footer-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#footer {
    width: 60%;
    display: flex;
}

.footer-left-block, .footer-right-block {
    flex: 1;
}

.footer-center-block {
    text-align: center;
}

#footer ul {
    line-height: 1.3em;
    margin-bottom: 20px;
}
