
#header-top-banner {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly
}

#logo {
    height: 100px;
}

#header #desktop-menu {
    display: flex;
    align-items: center;
}

#header #desktop-menu li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

#header #desktop-menu ul {
    margin: 0;
    padding: 0;
}

#mobile-menu-link, #mobile-menu {
    display: none;
}

@media (max-width: 600px) {
    #header .donate-button {
        display: none;
    }

    #header #desktop-menu {
        display: none;
    }

    #mobile-menu-link {
        font-size: 2em;
        display: inherit;
    }

    #header #mobile-menu li {
        display: block;
    }

    #mobile-menu {
        margin-bottom: 1em;
    }
}
