
#header {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly
}

#logo {
    height: 100px;
}

#header nav {
    display: flex;
    align-items: center;
    width: 50%;
}

#header nav li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

#header nav ul {
    margin: 0;
    padding: 0;
}

#header-right-block {
    display: flex;
    align-items: center;
}
