.actonmass {
  width: 100%;
  min-width: 1024px;
  height: 100vh;
  min-height: 2584px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width: 100%;
}
.anima-full-height-a {
  height: 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.actonmass .rectangle {
  background-color: rgba(224, 244, 251, 0.72);
  top: 2144px;
  height: 455px;
  width: 1024px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group11 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 213px;
  width: 1024px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group11 .rectangle5 {
  background-color: rgba(46, 51, 97, 1);
  top: 0px;
  height: 213px;
  width: 1024px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group11 .a100renewablestr {
  background-color: rgba(255, 255, 255, 0);
  top: 80px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 32px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNextCondensed-DemiBold", Helvetica, Arial, serif;
  font-size: 52px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 53px;
}
.actonmass .staterepresentative {
  background-color: rgba(255, 255, 255, 0);
  top: 315px;
  height: auto;
  width: 648px;
  position: absolute;
  margin: 0;
  left: 188px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 33px;
}
.actonmass .rectangle1 {
  background-color: rgba(46, 51, 97, 1);
  top: 1023px;
  height: 1132px;
  width: 1024px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .bitmap {
  background-color: rgba(255, 255, 255, 0);
  top: 1786px;
  height: 81px;
  width: 427px;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .actonmass11beaco {
  background-color: rgba(255, 255, 255, 0);
  top: 1972px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 244px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 25px;
}
.actonmass .ifyouhaveanyques {
  background-color: rgba(255, 255, 255, 0);
  top: 2101px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 245px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 22px;
}
.actonmass .ifyouhaveanyques .span1 {
}
.actonmass .ifyouhaveanyques .span2 {
  text-decoration: underline;
}
.actonmass .noprintervisitac {
  background-color: rgba(255, 255, 255, 0);
  top: 1231px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 29px;
}
.actonmass .noprintervisitac .span1 {
}
.actonmass .noprintervisitac .span2 {
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  text-decoration: underline;
}
.actonmass .noprintervisitac .span3 {
}
.actonmass .printyourformata {
  background-color: rgba(255, 255, 255, 0);
  top: 1165px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 29px;
}
.actonmass .printyourformata .span1 {
}
.actonmass .printyourformata .span2 {
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  text-decoration: underline;
}
.actonmass .itmustbedoublesi {
  background-color: rgba(255, 255, 255, 0);
  top: 1201px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 29px;
}
.actonmass .group2 {
  background-color: rgba(255, 255, 255, 0);
  top: 1162px;
  height: 54px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 84px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group2 .oval {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 54px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group2 .a1 {
  background-color: rgba(255, 255, 255, 0);
  top: 11px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 19px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 33px;
}
.actonmass .group {
  background-color: rgba(255, 255, 255, 0);
  top: 1430px;
  height: 101px;
  width: 301px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group .bitmap4 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 101px;
  width: 301px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group .rectangle5 {
  background-color: rgba(255, 255, 255, 1);
  top: 0px;
  height: 101px;
  width: 9px;
  position: absolute;
  margin: 0;
  left: 292px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .ifyoustillarenu2019t {
  background-color: rgba(255, 255, 255, 0);
  top: 1534px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 31px;
}
.actonmass .visitwheredoivotema {
  background-color: rgba(255, 255, 255, 0);
  top: 1394px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgba(254, 255, 254, 1);
  text-align: left;
  line-height: 31px;
}
.actonmass .visitwheredoivotema .span1 {
}
.actonmass .visitwheredoivotema .span2 {
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  text-decoration: underline;
}
.actonmass .visitwheredoivotema .span3 {
}
.actonmass .addyourstaterepre {
  background-color: rgba(255, 255, 255, 0);
  top: 1394px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 31px;
}
.actonmass .fillinyournamean {
  background-color: rgba(255, 255, 255, 0);
  top: 1586px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 31px;
}
.actonmass .fillinyournamean .span1 {
}
.actonmass .fillinyournamean .span2 {
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
}
.actonmass .addyourcityortow {
  background-color: rgba(255, 255, 255, 0);
  top: 1750px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 31px;
}
.actonmass .completeyourform {
  background-color: rgba(255, 255, 255, 0);
  top: 1313px;
  height: auto;
  width: 687px;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 29px;
}
.actonmass .group3 {
  background-color: rgba(255, 255, 255, 0);
  top: 1309px;
  height: 54px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 84px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group3 .oval {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 54px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group3 .a2 {
  background-color: rgba(255, 255, 255, 0);
  top: 11px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 19px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 33px;
}
.actonmass .joinusbysigningt {
  background-color: rgba(255, 255, 255, 0);
  top: 1070px;
  height: auto;
  width: 753px;
  position: absolute;
  margin: 0;
  left: 75px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNextCondensed-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 47px;
}
.actonmass .makesurethereare {
  background-color: rgba(255, 255, 255, 0);
  top: 1349px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 33px;
}
.actonmass .group5 {
  background-color: rgba(255, 255, 255, 0);
  top: 1925px;
  height: 54px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 84px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group5 .oval {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 54px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group5 .a3 {
  background-color: rgba(255, 255, 255, 0);
  top: 11px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 19px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 33px;
}
.actonmass .mailto {
  background-color: rgba(255, 255, 255, 0);
  top: 1967px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 33px;
}
.actonmass .mailyourform {
  background-color: rgba(255, 255, 255, 0);
  top: 1932px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 33px;
}
.actonmass .sendthistoyourfr {
  background-color: rgba(255, 255, 255, 0);
  top: 2356px;
  height: auto;
  width: 198px;
  position: absolute;
  margin: 0;
  left: 285px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 25px;
}
.actonmass .learnmoreatactonm {
  background-color: rgba(255, 255, 255, 0);
  top: 2356px;
  height: auto;
  width: 198px;
  position: absolute;
  margin: 0;
  left: 55px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 25px;
}
.actonmass .learnmoreatactonm .span1 {
}
.actonmass .learnmoreatactonm .span2 {
  text-decoration: underline;
}
.actonmass .signuptovolunteer {
  background-color: rgba(255, 255, 255, 0);
  top: 2356px;
  height: auto;
  width: 272px;
  position: absolute;
  margin: 0;
  left: 481px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 25px;
}
.actonmass .signuptovolunteer .span1 {
}
.actonmass .signuptovolunteer .span2 {
  text-decoration: underline;
}
.actonmass .group4 {
  background-color: rgba(255, 255, 255, 0);
  top: 2268px;
  height: 70px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 590px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group4 .group7 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 70px;
  width: 54px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group4 .group7 .rectangle7 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 70px;
  box-sizing: border-box;
  width: 54px;
  position: relative;
  margin: 0;
  left: 0px;
  border-radius: 3px;
  border-style: solid;
  border-width: 4px;
  border-color: rgba(0, 0, 0, 1);
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group4 .rectangle6 {
  background-color: rgba(215, 215, 215, 1);
  top: 11px;
  height: 2px;
  box-sizing: border-box;
  width: 34px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group4 .rectangle11 {
  background-color: rgba(215, 215, 215, 1);
  top: 19px;
  height: 2px;
  box-sizing: border-box;
  width: 34px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group4 .rectangle21 {
  background-color: rgba(215, 215, 215, 1);
  top: 27px;
  height: 2px;
  box-sizing: border-box;
  width: 34px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group4 .rectangle31 {
  background-color: rgba(215, 215, 215, 1);
  top: 35px;
  height: 2px;
  box-sizing: border-box;
  width: 34px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group4 .rectangle41 {
  background-color: rgba(215, 215, 215, 1);
  top: 43px;
  height: 2px;
  box-sizing: border-box;
  width: 34px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group4 .rectangle5 {
  background-color: rgba(215, 215, 215, 1);
  top: 51px;
  height: 2px;
  box-sizing: border-box;
  width: 34px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .donatetoactonmas {
  background-color: rgba(255, 255, 255, 0);
  top: 2356px;
  height: auto;
  width: 275px;
  position: absolute;
  margin: 0;
  left: 726px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 25px;
}
.actonmass .donatetoactonmas .span1 {
}
.actonmass .donatetoactonmas .span2 {
  text-decoration: underline;
}
.actonmass .donatetoactonmas .span3 {
}
.actonmass .donatetoactonmas .span4 {
  text-decoration: underline;
}
.actonmass .donatetoactonmas .span5 {
}
.actonmass .group14 {
  background-color: rgba(255, 255, 255, 0);
  top: 2487px;
  height: 97px;
  width: 1024px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group14 .rectangle5 {
  background-color: rgba(46, 51, 97, 1);
  top: 0px;
  height: 97px;
  width: 1024px;
  position: relative;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .rectangle2 {
  background-color: rgba(224, 244, 251, 0.72);
  top: 519px;
  height: 503px;
  width: 1024px;
  position: absolute;
  margin: 0;
  left: 1px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .transparentvoting {
  background-color: rgba(255, 255, 255, 0);
  top: 726px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 146px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 33px;
}
.actonmass .a100renewables {
  background-color: rgba(255, 255, 255, 0);
  top: 726px;
  height: auto;
  width: 232px;
  position: absolute;
  margin: 0;
  left: 669px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  line-height: 33px;
}
.actonmass .withajusttransiti {
  background-color: rgba(255, 255, 255, 0);
  top: 759px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 689px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 29px;
}
.actonmass .sorepsknowwecan {
  background-color: rgba(255, 255, 255, 0);
  top: 759px;
  height: auto;
  width: 282px;
  position: absolute;
  margin: 0;
  left: 116px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 29px;
}
.actonmass .group13 {
  background-color: rgba(255, 255, 255, 0);
  top: 657px;
  height: 80px;
  width: 106px;
  position: absolute;
  margin: 0;
  left: 459px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group13 .rectangle5 {
  background-color: rgba(182, 224, 240, 1);
  top: 19px;
  height: 43px;
  width: 60px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group13 .triangle {
  background-color: rgba(255, 255, 255, 0);
  top: 17px;
  height: 46px;
  width: 79px;
  position: absolute;
  margin: 0;
  left: 43px;
  transform: rotate(90deg);
  opacity: 1;
}
.actonmass .rectangle3 {
  background-color: rgba(182, 224, 240, 1);
  top: 503px;
  height: 74px;
  width: 1024px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .rectangle4 {
  background-color: rgba(182, 224, 240, 1);
  top: 874px;
  height: 149px;
  width: 1024px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .thenboldclimatea {
  background-color: rgba(255, 255, 255, 0);
  top: 943px;
  height: auto;
  width: 462px;
  position: absolute;
  margin: 0;
  left: 281px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 24px;
}
.actonmass .tofightthisweu2019re {
  background-color: rgba(255, 255, 255, 0);
  top: 527px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 260px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 29px;
}
.actonmass .tofightthisweu2019re .span1 {
}
.actonmass .tofightthisweu2019re .span2 {
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
}
.actonmass .tofightthisweu2019re .span3 {
}
.actonmass .tofightthisweu2019re .span4 {
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
}
.actonmass .tofightthisweu2019re .span5 {
}
.actonmass .thesewillpasswith {
  background-color: rgba(255, 255, 255, 0);
  top: 905px;
  height: auto;
  width: 675px;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 29px;
}
.actonmass .thesewillpasswith .span1 {
}
.actonmass .thesewillpasswith .span2 {
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
}
.actonmass .thesewillpasswith .span3 {
}
.actonmass .thesewillpasswith .span4 {
  font-family: "AvenirNext-Bold", Helvetica, Arial, serif;
}
.actonmass .thesewillpasswith .span5 {
}
.actonmass .group6 {
  background-color: rgba(255, 255, 255, 0);
  top: 2508px;
  height: 45px;
  width: 257px;
  position: absolute;
  margin: 0;
  left: 384px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group6 .logos3 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 45px;
  width: 64px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group6 .a350logo {
  background-color: rgba(255, 255, 255, 0);
  top: 6px;
  height: 39px;
  width: 114px;
  position: absolute;
  margin: 0;
  left: 143px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .renew3 {
  background-color: rgba(255, 255, 255, 0);
  top: 628px;
  height: 85px;
  width: 85px;
  position: absolute;
  margin: 0;
  left: 743px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .mail3 {
  background-color: rgba(255, 255, 255, 0);
  top: 2276px;
  height: 56px;
  width: 84px;
  position: absolute;
  margin: 0;
  left: 342px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .vote3 {
  background-color: rgba(255, 255, 255, 0);
  top: 631px;
  height: 79px;
  width: 79px;
  position: absolute;
  margin: 0;
  left: 217px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .donate3 {
  background-color: rgba(255, 255, 255, 0);
  top: 2266px;
  height: 74px;
  width: 74px;
  position: absolute;
  margin: 0;
  left: 826px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .theproblem {
  background-color: rgba(255, 255, 255, 0);
  top: 276px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 449px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 25px;
}
.actonmass .nextsteps {
  background-color: rgba(255, 255, 255, 0);
  top: 2197px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 459px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "AvenirNext-DemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 25px;
}
.actonmass .group9 {
  background-color: rgba(255, 255, 255, 0);
  top: 2270px;
  height: 65px;
  width: 65px;
  position: absolute;
  margin: 0;
  left: 121px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group9 .oval {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 65px;
  width: 65px;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group9 .oval1 {
  background-color: rgba(255, 255, 255, 0);
  top: 13px;
  height: 7px;
  width: 7px;
  position: absolute;
  margin: 0;
  left: 30px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .group9 .rectangle5 {
  background-color: rgba(0, 0, 0, 1);
  top: 23px;
  height: 29px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 31px;
  border-radius: 2px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .bitmap1 {
  background-color: rgba(255, 255, 255, 0);
  top: 1430px;
  height: 131px;
  width: 320px;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .bitmap2 {
  background-color: rgba(255, 255, 255, 0);
  top: 1430px;
  height: 132px;
  width: 321px;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .line {
  background-color: rgba(255, 255, 255, 0);
  top: 1406px;
  height: 8px;
  width: 116px;
  position: absolute;
  margin: 0;
  left: 458px;
  transform: rotate(0deg);
  opacity: 1;
}
.actonmass .bitmap3 {
  background-color: rgba(255, 255, 255, 0);
  top: 1622px;
  height: 103px;
  width: 426px;
  position: absolute;
  margin: 0;
  left: 175px;
  transform: rotate(0deg);
  opacity: 1;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes anima-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}
.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}
.anima-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
