/* General Style */

body {
    font-family: sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

blockquote {
    border-left: solid 2px rgb(0, 56, 98);
    padding-left: 20px;
    font-size: 1.3em;
}

p {
    line-height: 1.8;
}

.page-content-container {
    display: flex;
    justify-content: center;
}

.page-content {
    max-width: 940px;
}

/* Reused components */

.donate-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 115, 200);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    margin-right: 10px;
}

.social-media-link {
    height: 2em;
    margin-right: 10px;
}

.nav-ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 1.2em;
}

.nav-ul a:hover {
    text-decoration: underline;
}

.youtube-video-container {
    display: flex;
    justify-content: center;
}

.logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.logo-list img {
    align-self: center;
    margin: 1% 5% 1% 5%;
}

/* Home page */

#top-banner-container {
    width: 100%;
    background-image: url("../img/mastatehouse.jpg");
    position: relative;
    padding-bottom: 35%;  /* To set proportions for the top-banner block*/
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#top-banner-content {
    position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#top-banner-content p {
    color:white;
    background-color: black;
    font-size: 2em;
    font-weight: bold;
}

.sign-up-form-container {
    background-color: rgb(255, 190, 82);
    display: flex;
    justify-content: center;
}

.sign-up-form {
    max-width: 80%;
    background-color: rgb(255, 214, 146);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    color: rgb(0, 56, 98)
}

.sign-up-form h2 {
    font-size: 2em;
}

.issues {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.issue-container {
    position: relative;
    padding-bottom: 20%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 30%;
    margin: 5px;
    background-image: url("../img/education.jpg");
    background-color: rgb(100, 100, 100);
    border: 1px rgb(255, 190, 82) solid;
    display: block;
    background-blend-mode: multiply;
}

.issue-content {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    color: white;
    text-align: center;
    padding: 1em;
}

.issue-content h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
}

.issues-title {
    font-size: 2em;
    background-color: rgb(226, 147, 24);
    border-radius: 25px 0 35px 0;
    color: white;
    padding: 0.3em;
    padding-left: 1em
}

#donate-banner {
    background-color: rgb(255, 190, 82);
    color: rgb(0, 56, 98);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 30px;
}

#donate-banner p {
    width: 50%;
    text-align: center;
    font-weight: bold;
}


/* About us page */

.team {
    display: flex;
    flex-wrap: wrap;
}

.person {
    flex-basis: 20%;
    text-align: center;
    margin: 0 0.5em 0 0.5em;
}

.person p {
    text-align: left;
    padding: 0 0.5em 0 0.5em;
}

/* Post */

.post-date {
    color: rgb(100, 100, 100);
    font-style: italic;
}

.small-image img {
    max-height: 400px;
}

.full-width-image img {
    max-width:100%;
}

.centered-image {
    text-align: center;
}

.centered-image > img, .centered-image > a:first-child {
    margin: 0 auto;
    display: block;
}

.centered {
    text-align: center;
}

.important {
    font-size: 1.2em;
}

/* Blog */

.posts-list a {
    text-decoration: none;
}

.post-preview {
    border: gray solid 1px;
    margin-bottom: 20px;
    display: flex;
}

.post-preview-image {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-preview-image img {
    max-width: 100%;
    max-height: 250px;
}

.post-preview-text {
    padding: 10px;
    padding-left: 15px;
}

.post-preview-image + .post-preview-text { /* If there is an image, reduce size of text block */
    flex-basis: 60%;
}
