/* CSS Variables */

:root {
  --primary: #145396;
  --dark: #061729;
  --light: #f4f7fc;
}

html {
  font-size: 10px;
}

body {
  background: #f4f7fc;
  line-height: 1.4;
  overflow-x: hidden;
}

p {
  font-size: 1.2rem;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  margin: 0;
}

h6 {
  font-size: 1.3rem;
}

li {
  font-size: 1.2rem;
}

@media (min-width: 700px) {
  h1 {
    font-size: 6rem;
    margin: 0;
  }

  h2 {
    font-size: 4rem;
    margin: 0;
  }

  h3 {
    font-size: 3rem;
    margin: 0;
  }

  h4 {
    font-size: 1.8rem;
    margin: 0;
  }

  h5 {
    font-size: 1.2rem;
    margin: 0;
  }

  h6 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin: 0;
  }

  li {
    font-size: 2rem;
  }
}

.fRaleway {
  font-family: "Raleway", sans-serif;
}

.fRoboto {
  font-family: "Roboto", sans-serif;
}

.fLight {
  font-weight: 300;
}

.fRegular {
  font-weight: 400;
}

.fBold {
  font-weight: 500;
}

.fExbold {
  font-weight: 700;
}

.fWhite {
  color: #f4f7fc;
}

.fDark {
  color: #061729;
}

.fMainColor {
  color: #145396;
}

.fInactive {
  color: #6991bc;
}

.fUppercase {
  text-transform: uppercase;
}

.btn {
  border: none;
  background-color: #eca632;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  max-width: 25rem;
  max-height: 5rem;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

/* On mouse-over */
.btn:hover {
  background: #eee;
}

.container {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));*/
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, auto);
  overflow-x: hidden;
  max-width: none;
  width: 100%;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
}

/*-------------------------- BREADCRUMB -----------------*/
.breadcrumb {
  grid-area: 2 / 3 / 2 / 6;
}

/* -- LEGISTLATOR PAGE // breadcrumb--*/

/* Style the list */
ul.main_breadcrumb {
  padding: 0.5rem 1rem 0.5rem 1rem;
  list-style: none;
}

@media (min-width: 700px) {
  ul.main_breadcrumb {
    padding: 2rem 20rem;
    list-style: none;
    /*background-color: #eee;*/
  }
}

/* Display list items side by side */

ul.main_breadcrumb li {
  display: inline;
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  ul.main_breadcrumb li {
    display: inline;
    font-size: 1.68rem;
  }
}

/* Add a slash symbol (/) before/behind each list item */
ul.main_breadcrumb li + li:before {
  padding: 8px;
  /*color: #F4F7FC;*/
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.main_breadcrumb li a {
  /*color: #F4F7FC;*/
  text-decoration: none;
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  ul.main_breadcrumb li a {
    /*color: #F4F7FC;*/
    text-decoration: none;
    font-size: 1.2rem;
  }
}

/* Add a color on mouse-over */
ul.main_breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ---------------------- pop-up forms ------------------*/

.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 30%;
  /*border: 3px solid #f1f1f1;*/
  z-index: 9;
  left: 30%;
}

/* Add styles to the form container */
.form-container {
  /*max-width: 300px;*/
  padding: 10px;
  background-color: #145396;
  color: white;
  z-index: 10;
  outline: 9999px solid rgba(0, 0, 0, 0.5);
  display: grid;
  width: 40vw;
}

.fa-times {
  justify-self: right;
  grid-row: 1;
  cursor: pointer;
}

.popup_title {
  margin-bottom: 2rem;
  text-align: center;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.form-container .btn1 {
  background-color: #eca632;
  opacity: 100%;
  color: var(--dark);
  justify-self: center;
}

.form-container .btn1:hover {
  background-color: var(--light);
}

.popup_txt {
  margin: 0rem 2rem 2rem 2rem;
}

/* ------------------------- CO-SPONSORSHIP -----------------*/

.bill_sec2 {
  grid-area: 4 / 1 / 4 / 13;
  background-color: #f4f7fc;
}

.tab {
  overflow: hidden;
  background-color: #11447b;
  border-radius: 10px 10px 0px 0px;
}

.tab a {
  display: block;
  width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #11447b;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #145396;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #145396;
  border-bottom: 4px solid #eca632;
  display: inline-block;
  /*line-height: 0.85;*/
}

/* ------------------------- TIMELINE -----------------------*/

.bill_sec3 {
  grid-area: 5 / 1 / 5 / 13;
  background-color: #d8e5fd;
}

/* ------------------------- BILL PROCESS -------------------*/

.bill_sec4 {
  grid-area: 6 / 1 / 6 / 13;
  background-color: #f4f7fc;
}

/* ------------------------- BILL HISTORY -------------------*/

.bill_sec5 {
  grid-area: 7 / 1 / 7 / 13;
  background-color: #d8e5fd;
}

/*------------------------------------------------------------------*/
/*------------------------------ SEARCH ----------------------------*/
/*------------------------------------------------------------------*/

.leg_circ_res {
  border-radius: 50%;
  border: solid 0.5rem #5fad41;
  max-width: 10rem;
  grid-area: 1 / 1;
  margin: 0rem 1rem 1rem 1rem;
  box-sizing: unset;
}

.senator_res {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  max-width: 70vw;
  margin-bottom: 5rem;
  grid-column-gap: 5rem;
  align-items: center;
}

.senator_res:hover {
  background-color: #dfeafd;
}

.rep_res:hover {
  background-color: #dfeafd;
}

.rep_res {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  max-width: 70vw;
  grid-column-gap: 5rem;
  align-items: center;
}

.towns {
  max-width: 20rem;
  justify-self: center;
}

.fa-democrat {
  color: var(--primary);
}

/*--------------------------------------------------------*/
/*--------------------- ISSUES PG ------------------------*/
/*--------------------------------------------------------*/

/*-----------------------------------------------------------------------*/
/*--------------------- BLOG PG (list of blog posts) ------------------------*/
/*-----------------------------------------------------------------------*/

.blog_wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "breadcrumb"
    "blog_post_1"
    "blog_post_2"
    "blog_post_3"
    "blog_post_4"
    "blog_post_5"
    "blog_post_6"
    "blog_post_7"
    "blog_post_8"
    "blog_post_9"
    "footer";
}

@media (min-width: 700px) {
  .blog_wrapper {
    display: grid;
    grid-template-areas:
      "header header header"
      "breadcrumb breadcrumb ."
      "blog_post_1 blog_post_2 blog_post_3"
      "blog_post_4 blog_post_5 blog_post_6"
      "blog_post_7 blog_post_8 blog_post_9"
      "footer footer footer";
  }
}

.blog_wrapper a.cont_read {
  font-size: 1.4rem;
  color: var(--light);
}

.blog_post_1 {
  grid-area: blog_post_1;
  display: grid;
  padding: 7rem 0rem 5rem 0rem;
  justify-self: center;
  grid-template-rows: auto auto;
}

@media (min-width: 700px) {
  .blog_post_1 {
    padding: 15rem 0rem 5rem 20rem;
  }
}

.blog_post_2 {
  grid-area: blog_post_2;
  display: grid;
  padding: 0rem 0rem 5rem 0rem;
  justify-self: center;
  grid-template-rows: auto auto;
}

@media (min-width: 700px) {
  .blog_post_2 {
    padding: 15rem 0rem 5rem 0rem;
  }
}

.blog_post_3 {
  grid-area: blog_post_3;
  display: grid;
  padding: 0rem 0rem 5rem 0rem;
  justify-self: center;
  grid-template-rows: auto auto;
}

@media (min-width: 700px) {
  .blog_post_3 {
    padding: 15rem 20rem 5rem 0rem;
  }
}

.blog_post_4 {
  grid-area: blog_post_4;
  display: grid;
  padding: 0rem 0rem 5rem 0rem;
  justify-self: center;
  grid-template-rows: auto auto;
}

@media (min-width: 700px) {
  .blog_post_4 {
    padding: 5rem 0rem 5rem 20rem;
  }
}

.blog_post_5 {
  grid-area: blog_post_5;
  display: grid;
  padding: 0rem 0rem 5rem 0rem;
  justify-self: center;
  grid-template-rows: auto auto;
}

@media (min-width: 700px) {
  .blog_post_5 {
    padding: 5rem 0rem 5rem 0rem;
  }
}

.blog_post_6 {
  grid-area: blog_post_6;
  display: grid;
  padding: 0rem 0rem 5rem 0rem;
  justify-self: center;
  grid-template-rows: auto auto;
}

@media (min-width: 700px) {
  .blog_post_6 {
    padding: 5rem 20rem 5rem 0rem;
  }
}

.blog_post_7 {
  grid-area: blog_post_7;
  display: grid;
  padding: 0rem 0rem 5rem 0rem;
  justify-self: center;
  grid-template-rows: auto auto;
}

@media (min-width: 700px) {
  .blog_post_7 {
    padding: 5rem 0rem 5rem 20rem;
  }
}

.blog_post_8 {
  grid-area: blog_post_8;
  display: grid;
  padding: 0rem 0rem 5rem 0rem;
  justify-self: center;
  grid-template-rows: auto auto;
}

@media (min-width: 700px) {
  .blog_post_8 {
    padding: 5rem 0rem 5rem 0rem;
  }
}

.blog_post_9 {
  grid-area: blog_post_9;
  display: grid;
  padding: 0rem 0rem 5rem 0rem;
  justify-self: center;
  grid-template-rows: auto auto;
}

@media (min-width: 700px) {
  .blog_post_9 {
    padding: 5rem 20rem 5rem 0rem;
  }
}

.blog_wrapper .blog_rect {
  width: 25rem;
  height: 26rem;
  background-color: var(--primary);
  z-index: -1;
  display: grid;
  padding: 1rem;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 1rem;
  grid-area: 2 / 1;
}

.blog_wrapper .blog_img {
  max-width: 24rem;
  justify-self: center;
  grid-area: 1 / 1;
}

.blog_wrapper .date_rect {
  height: 2.1rem;
  width: 16rem;
  justify-self: center;
  background-color: #11447b;
  z-index: 2;
  grid-area: 1 / 1 / 3 / 1;
  margin-top: 15rem;
  display: grid;
}

.date_rect .blog_date {
  justify-self: center;
  align-self: center;
  color: #afcbff;
  font-size: 1rem;
}

.blog_wrapper .blog_title_rect {
  background-color: #eca632;
  height: 7.5rem;
  width: 0.5rem;
  margin: 1rem 0rem 0rem 0rem;
  grid-area: 1 / 1;
}

.blog_wrapper .blog_post_title {
  grid-area: 1 / 1;
  padding: 1rem 0rem 1rem 1rem;
}

.blog_title {
  grid-area: 3 / 1;
  justify-self: center;
  color: #11447b;
  padding: 1rem 1rem 1rem 1rem;
}

@media (min-width: 700px) {
  .blog_title {
    grid-area: 3 / 1 / 3 / 4;
    justify-self: center;
    color: #11447b;
    padding: 1rem 0.3rem 0.3rem 1rem;
  }
}

.blog_title1 {
  grid-area: 3 / 1;
  justify-self: center;
  color: #fefbf8;
  z-index: 1;
  padding: 1.2rem 1rem 1.2rem 1rem;
}

@media (min-width: 700px) {
  .blog_title1 {
    grid-area: 3 / 1 / 3 / 4;
    justify-self: center;
    color: #fefbf8;
    z-index: 1;
  }
}

.title_underline {
  background-color: #11447b;
  grid-area: 3 / 1;
  height: 0.5rem;
  width: 18rem;
  justify-self: center;
  z-index: -1;
  margin: 3rem 0rem 0rem 0rem;
}

@media (min-width: 700px) {
  .title_underline {
    background-color: #11447b;
    grid-area: 3 / 1 / 3 / 4;
    height: 0.5rem;
    width: 43rem;
    z-index: -1;
    margin: 6rem 0rem 0rem 0rem;
  }
}

.blog_background {
  grid-area: 2 / 1 / 12 / 4;
  background-color: #afcbff;
  z-index: -2;
}

@media (min-width: 700px) {
  .blog_background {
    grid-area: 2 / 1 / 6 / 4;
  }
}

/*-----------------------------------------------------------------------*/
/*--------------------- BLOG Post PG (blog posts) ------------------------*/
/*-----------------------------------------------------------------------*/

.blogpg_wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "breadcrumb"
    "blogpg_title"
    "blogpg_img"
    "blogtxt_wrapper"
    "footer";
}

.blogpg_title {
  grid-area: blogpg_title;
  padding: 2rem;
  justify-self: center;
  display: grid;
  color: var(--primary);
}

@media (min-width: 700px) {
  .blogpg_title {
    padding: 3rem 20rem 0rem 20rem;
  }
}

.blogpg_img {
  grid-area: blogpg_img;
  justify-self: center;
  width: 30rem;
}

@media (min-width: 700px) {
  .blogpg_img {
    width: 60rem;
    padding: 5rem 0rem 0rem 0rem;
  }
}

.blogtxt_wrapper {
  grid-area: blogtxt_wrapper;
  padding: 2rem;
  justify-self: center;
  max-width: 64rem;
}

@media (min-width: 700px) {
  .blogtxt_wrapper {
    /*padding: 5rem 20rem 5rem 20rem;*/
    max-width: 50rem;
  }
}

.blogpg_txt {
  line-height: 2rem;
  padding: 1rem 0rem 1rem 0rem;
}

.blogpg_header {
  color: var(--primary);
}

.blog_header {
  color: var(--primary);
}

.blog_header_date {
  justify-self: left;
  padding: 1rem 0rem 1rem 0rem;
  color: #11447b;
}

@media (min-width: 700px) {
  .blog_header_date {
    justify-self: center;
  }
}
