/* CSS Variables */

:root {
  --primary: #145396;
  --dark: #061729;
  --light: #F4F7FC;
}

html {
  font-size: 10px;
}

body {
  background: #F4F7FC ;
  line-height: 1.4;
  overflow-x: hidden;
}

p{
  font-size: 1.2rem;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin:0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin:0;
}

h4 {
  font-size: 1.2rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  color: #061729;
  margin: 0;
}

li {
  font-size: 1.2rem;
}

@media (min-width: 700px) {
  h1 {
    font-size: 5rem;
    color: #061729;
    margin: 0;
  }

  h2 {
    font-size: 3rem;
    color: #061729;
    margin: 0;
  }

  h3 {
    font-size: 2.5rem;
    color: #061729;
    margin: 0;
  }

  h4 {
    font-size: 2rem;
    color: #061729;
    margin: 0;
  }

  h5 {
    font-size: 1.2rem;
    color: #061729;
    margin: 0;
  }

  /*h5 {
    font-size: 1.4rem;
    color: #061729;
  }*/

  p {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #061729;
    margin: 0;
  }

  li {
    font-size: 2rem;
  }
}


/*
@media (min-width: 768px) and (max-width: 1024px) {
      p{
        font-size: 1.6rem;
      }
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1.2rem;
      }
    }*/

.fRaleway {
  font-family: 'Raleway', sans-serif;
}

.fRoboto {
  font-family: 'Roboto', sans-serif;
}

.fLight {
  font-weight: 400;
}

.fRegular {
  font-weight: 500;
}

.fBold {
  font-weight: 700;
}

.fExbold {
  font-weight: 800;
}

.fWhite {
  color: #F4F7FC;
}

.fDark {
  color: #061729;
}

.fMainColor {
  color: #145396;
}

.fInactive {
  color: #6991BC;
}

.fUppercase {
  text-transform: uppercase;
}

.btn {
  border: none;
  background-color: #ECA632;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  max-width: 25rem;
  max-height: 5rem;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/* On mouse-over */
.btn:hover {background: #eee;}

.container {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));*/
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(8, auto);
  overflow-x: hidden;
  max-width: none;
  width: 100%;
}

@media (max-width: 767px) {
  .container{
    grid-template-columns: 1fr;
  }
}

/*------ iPHONE SCREEN NAVIGATION --------*/
.main_header ul {
  display: grid;
  grid-column-gap: 1rem;
  list-style: none;
  grid-template-columns: 1fr repeat(3,auto);
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
  margin: 0;
}

.main_header a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.main_header a:hover {
  border-bottom: solid .5rem #56CCF2;
}

.head_logo {
  max-height: 8rem;
}

.btn_header {
  background-color: #56CCF2;
}

.dropbtn {
  /*background-color: #4CAF50;
  color: white;*/
  padding: .5rem;
  font-size: 1rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 0rem 0rem 1rem 1rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #145396;
  color: #56CCF2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  /*color: var(--light);*/
}

.main_header .btn_header {
  display: none;
}

.main_header .fa-facebook-f {
  display: none;
}

.main_header .fa-twitter {
  display: none;
}

/*------ FULL SCREEN NAVIGATION --------*/
@media (min-width: 700px){
  .main_header ul {
    display: grid;
    grid-column-gap: 3rem;
    list-style: none;
    grid-template-columns: 1fr repeat(6,auto);
    align-items: center;
    padding: 0;
    margin: 0;
  }

  /*ul.main_header li {
    align-self: center;
  }*/

  .main_header a {
    text-decoration: none;
    font-size: 1.6rem;
  }

  .head_logo {
    max-height: 10rem;
  }

  /*.nav_text {
    align-self: center;
  }*/

  .btn_header {
    background-color: #56CCF2;
  }

  /* Dropdown Button */
  .dropbtn {
    /*background-color: #4CAF50;
    color: white;*/
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0rem 0rem 1rem 1rem;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #145396;
    color: #56CCF2;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    /*color: var(--light);*/
  }

  .main_header .btn_header {
    display: inherit;
  }

  .main_header .fa-facebook-f {
    display: inherit;
  }

  .main_header .fa-twitter {
    display: inherit;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  /*.dropdown:hover {
    background-color: #11447B;
    color: var(--light);
  }*/

  /*
  .dropbtn:hover {
    color: var(--light);
  }*/
}


/*-------------------------- BREADCRUMB -----------------*/
.breadcrumb {
  grid-area: 2 / 3 / 2 / 6;
}

/* -- LEGISTLATOR PAGE // breadcrumb--*/

/* Style the list */
ul.main_breadcrumb {
  /*padding: 5rem 20rem;*/
  list-style: none;
}

@media (min-width: 700px){
  ul.main_breadcrumb {
    padding: 5rem 20rem;
    list-style: none;
    /*background-color: #eee;*/
  }
}

/* Display list items side by side */

ul.main_breadcrumb li {
  display: inline;
  font-size: .8rem;
}

@media (min-width: 700px){
  ul.main_breadcrumb li {
    display: inline;
    font-size: 1.68rem;
  }
}

/* Add a slash symbol (/) before/behind each list item */
ul.main_breadcrumb li+li:before {
  padding: 8px;
  /*color: #F4F7FC;*/
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.main_breadcrumb li a {
  /*color: #F4F7FC;*/
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.main_breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*--------------------- HOMEPAGE HERO ------------------------*/

.homepage_wrapper {
  display:grid;
  /*grid-gap: 2rem;*/
  grid-template-areas:
    "header"
    "hero"
    "take_action"
    "failures"
    "issues"
    "search"
    "accountability"
}

@media (min-width: 600px) {
  .homepage_wrapper {
    /*grid-template-columns: 3fr 3fr 3fr;*/
    grid-template-areas:
      "header header header"
      "hero hero hero"
      "take_action take_action take_action"
      "failures failures failures"
      "issues issues issues"
      "search search search"
      "accountability accountability accountability"
  }
}

.homepage_wrapper .main_header {
  grid-area: header;
  padding: 0rem 20rem 0rem 20rem;
}

.homepage_wrapper .hero {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
  background-color: var(--primary);
  grid-area: hero;
}

@media (min-width: 600px) {
  .homepage_wrapper .hero {
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 5rem 20rem;
  }
}

.btn_issues {
  margin-top: 1rem;
}

.hero .hero_left {
  display: grid;
  grid-area: 1 / 1;
}

.hero .hero_left .hero_img {
  grid-area: 1 / 1;
  width: 36rem;
  z-index: 1;
  align-self: center;
  justify-self: center;
  /*padding: 0rem 0rem 5rem 0rem;*/
}

@media (min-width: 600px) {
  .hero .hero_left .hero_img {
    grid-area: 1 / 1 / 4 / 4;
    width: 36rem;
    z-index: 1;
    align-self: center;
    justify-self: center;
    padding: 0rem 0rem 5rem 0rem;
  }
}

.hero_text .smLine {
  grid-area: 1 / 1;
  align-self: center;
  padding-left: 14rem;
}

.hero_text .header1 {
  grid-area: 1 / 1;
}

.dot {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #56CCF2;
  border-radius: 50%;
  display: inline-block;
  margin: .4rem;
}

@media (min-width: 700px){
  .dot {
    height: 25px;
    width: 25px;
    background-color: #56CCF2;
    border-radius: 50%;
    display: inline-block;
    margin: .4rem;
  }
}

.hero_left .dots_1 {
  grid-area: 3 / 1;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  margin: 2rem;
  justify-self: left;
}

.hero_left .dots_2 {
  grid-area: 1 / 3;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  justify-content:right;
  margin: 2rem;
}

.hero .hero_text {
  display: grid;
  grid-area: 1 / 3;
  color: #FEFBF8;
  align-self: center;
}

/*----------- TAKE ACTION Rect------------------------*/

.homepage_wrapper .rectangle {
  grid-area: 2 / 2 / 4 / 2;
  display: grid;
  z-index: 1;
  justify-self: center;
  margin-top: 17rem;
  align-self: center;
  height: 5rem;
  width: 20rem ;
  background-color: #56CCF2;
}

.rectangle .bridge_text {
  justify-self: center;
  align-self: center;
}

/* ------------- HOMEPAGE TAKE ACTION ------------- */
.homepage_wrapper .take_action {
  grid-area: take_action;
  background-color: #dfeafd;
  display: grid;
  padding: 5rem 20rem;
  grid-column-gap: 2rem;
}

@media (min-width: 600px) {
  .homepage_wrapper .take_action {
    padding: 5rem 5rem;
  }
}

.take_action .learn {
  grid-area: 2 / 1;
  max-width:20rem;
  justify-self: center;
  display: grid;
}

.take_action .btn_learn {
  align-self: end;
  margin: 1rem;
}

.take_action .volunteer {
  grid-area: 2 / 2;
  max-width:20rem;
  justify-self: center;
  display: grid;
}

.take_action .btn_volunteer {
  align-self: end;
  margin: 1rem;
}


.take_action .act {
  grid-area: 2 / 3;
  max-width:20rem;
  justify-self: center;
  display: grid;
}

.take_action .btn_act {
  align-self: end;
  margin: 1rem;
}

/* --------------------- HOMEPAGE HOUSE FAILURES -----------------*/


.homepage_wrapper .failures {
  grid-area: failures;
  padding: 5rem 20rem;
  display: grid;
}

.failures .immigration {
  grid-area: 2 / 1;
  padding-top: 5rem;
  max-width: 25rem;
  justify-self: center;
}

.failures .climate_change {
  grid-area: 2 / 2;
  padding-top: 5rem;
  max-width: 25rem;
  justify-self: center;
}

.failures .lgbt {
  grid-area: 2 / 3;
  padding-top: 5rem;
  max-width: 25rem;
  justify-self: center;
}

.rect {
  height: .5rem;
  width: 15rem;
}

.rect2 {
  background-color: #56CCF2;
  margin-bottom: 1rem;
}

.rect1 {
  grid-area: 1 / 1;
  background-color: #ECA632;
}

.failure_title {
  grid-area: 1 / 1 / 1 / 3;
  margin-top: 1rem;
}

/*---------------- HOMEPAGE ISSUES --------------*/
.homepage_wrapper .issues {
  grid-area: issues;
  padding: 5rem 5rem;
  background-color: #11447B;
  display: grid;
}

@media (min-width: 600px) {
  .homepage_wrapper .issues {
    padding: 5rem 20rem;
  }
}

.issues_title {
  margin-top: 1rem;
}

.homepage_wrapper .issues .issues_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9,auto);
  grid-gap: 2rem;
  padding: 2rem;
}

@media (min-width: 600px) {
  .homepage_wrapper .issues .issues_grid {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

.issues_img {
  align-self: center;
  justify-self: center;
}

/*-------------------- HOMEPAGE SEARCH ---------------*/
.homepage_wrapper .search {
  grid-area: search;
  padding: 5rem 20rem;
  display: grid;
}

@media (max-width: 767px) {
  .search {
    grid-template-columns: .5fr auto .5fr;
    grid-template-rows: 3rem auto auto 3rem;
  }
}

.search .search_title {
  grid-area: 1 / 1 / 1 / 4;
  justify-self: center;
  text-transform: uppercase;
  color: #11447B;
  z-index: 3;
  margin:0;
  border-bottom: 1rem solid #6991BC;
}

/*
@media (max-width: 767px) {
  .search_title {
    grid-area: 2 / 2 / 2/ 3;
  }
}*/


.search .search_title1 {
  grid-area: 1 / 1 / 1 / 4;
  justify-self: center;
  text-transform: uppercase;
  color: #6991BC;
  padding-top: .3rem;
  padding-left: .3rem;
  margin:0;
  z-index:2;
}

.search_rect {
  height: 5rem;
  width: 30rem;
  border-radius: 4px;
  border: solid 1px var(--dark);
  margin-bottom: 1rem;
  background-color: white;
  display: flex;
}

@media (min-width: 700px){
  .search_rect {
    width: 45rem;
  }
}


.search_field {
  grid-area: 2 / 3;
  align-self: center;
  padding: 5rem 0rem 5rem 0rem;
}

.search_text {
  margin-left: 1rem;
  align-self: center;
}

/*
@media (max-width: 767px) {
  .search_title1 {
    grid-area: 2 / 2 / 2/ 3;
  }
}
*/
/*
.rect3 {
/*  grid-area: 2 / 1 / 2 / 13;*/
  /*background-color: #6991BC;
  justify-self: center;
  align-self:end;
  margin-bottom: 1.2rem;
  width: 60rem;
  z-index: 1;
}*/

@media (max-width: 767px) {
  .rect3 {
    grid-area: 2 / 2 / 2 / 3;
    width:38rem;
    margin:0;
  }
}

.search_txt {
  grid-area: 2 / 1 / 2 / 2;
  text-transform: uppercase;
  color: #061729;
  justify-self: center;
  /*max-width: 30rem;*/
  padding-top: 5rem;
}

/*
@media (max-width: 767px) {
  .search_txt {
    grid-area: 3 / 2 / 3 / 3;
    max-width: 15rem;
    margin: 1rem 1rem 1rem 0rem;
  }
}*/

/*----------------- HOMEPAGE ACCOUNTABILITY -----------*/
.homepage_wrapper .accountability {
  grid-area: accountability;
  display: grid;
  padding: 5rem 20rem;
  background-color: #11447B;
}

.accountability .pledge_left {
  display: grid;
  grid-area: 2 / 1 / 2 / 2;
  padding: 2rem;
}
/*
@media (max-width: 767px) {
  .accountability {
    grid-template-columns: .5fr auto .5fr;
    grid-template-rows: 3rem auto auto auto auto 3rem;
  }
}*/

.account_title {
  grid-area: 1 / 1 / 1 / 3;
  text-transform: uppercase;
  padding-top: 1rem;
  margin:0;
}

/*
@media (max-width: 767px) {
  .account_title {
    grid-area: 2 / 2;
  }
}*/

.dot1 {
  height: 25px;
  width: 25px;
  background-color: #56CCF2;
  border-radius: 50%;
  display: inline-block;
  margin: .4rem;
}

@media (max-width: 767px) {
  .dot1 {
    height: 1rem;
    width: 1rem;
  }
}

.accountability .dots_3 {
  grid-area: 1 / 3;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  justify-self: right;
}

@media (max-width: 767px) {
  .accountability .dots_3{
    justify-self: right;
  /*padding: 2rem;*/
    grid-area: 3 / 2 / 3 / 3;
    width: 9rem;
    height: 9rem;
    padding-top: 2rem;
  }
}

.accountability .dots_4 {
  grid-area: 3 / 1;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  justify-self: left;
}

@media (max-width: 767px) {
  .accountability .dots_4{
    justify-self: left;
    align-self: end;
    /*padding: 2rem;*/
    grid-area: 3 / 2 / 3 / 4;
    width: 9rem;
    height: 9rem;
    margin: 0;
  }
}

.accountability .pledge_img1 {
  grid-area: 1 / 1 / 4 / 4;
  width: 40rem;
  z-index: 1;
  align-self: center;
  justify-self: center;
  padding: 0rem 3rem 3rem 0rem;
}

@media (max-width: 767px) {
  .accountability .pledge_img1 {
    grid-area: 3 / 2 / 3 / 3;
    width: 26rem;
    z-index:1;
    margin: 2rem;
    align-self: center;
    justify-self: center;
  }
}

.accountability .account_text {
  grid-area: 2 / 3;
  max-width: 35rem;
  display: grid;
}

@media (max-width: 767px) {
  .account_text{
    grid-area: 4 / 2 / 4 / 3;
    max-width:20rem;
    justify-self: center;
  }
}

.accountability .account_text1 {
  margin: 0;
}

/*
.accountability .account_text2 {
  color: #F4F7FC;
}*/

.accountability .btn_pledge {
/*  grid-area: 5 / 8 / 5 / 10;*/
}

@media (max-width: 767px) {
  .btn_pledge{
    grid-area: 5 / 2 / 5 / 3;
    justify-self: center;
    align-self: center;
  }
}

/*--------------------- BILL PAGE HERO ------------------*/
/*
.bill_hero {
  background-color: #145396;
  grid-area: 1 / 1 / 1 / 13;
  display: grid;
  grid-template-rows: 5rem auto auto auto auto auto 5rem;
  grid-template-columns: repeat(12,1fr);
}

.bill_hero .bill_title {
  grid-area: 3 / 1 / 3 / 13;
  justify-self: center;
  text-transform: uppercase;
  color: #FEFBF8;
  z-index: 3;
  margin:0;
}

.bill_hero .bill_title1 {
  grid-area: 3 / 1 / 3 / 13;
  justify-self: center;
  text-transform: uppercase;
  color: #56CCF2;
  padding-top: .3rem;
  padding-left: .3rem;
  margin:0;
  z-index:2;
}

.bill_hero .rect4 {
  grid-area: 3 / 1 / 3 / 13;
  background-color: #56CCF2;
  justify-self: center;
  /*align-self:end;
  width: 65rem;
  z-index: 1;
  margin-top:4.5rem;
}

.bill_hero .test1 {
  grid-area: 4 / 3 / 4 / 7;
}

.bill_hero .test2 {
  grid-area: 4 / 8 / 4 / 11;
}

.bill_hero .dots_5 {
  grid-area: 4 / 5 / 4 / 7;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  margin-left: 9rem;
  width: 20rem;
  height: 20rem;
}

.bill_hero .dots_6 {
  grid-area: 4 / 3 / 4 / 5;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  height: 20rem;
  width: 20rem;
  margin-left: -3rem;
  margin-top: 13rem;
}

.bill_hero .bill_summary {
  grid-area: 4 / 8 / 4 / 11;
}

.bill_hero_img {
  grid-area: 4 / 3 / 5 / 6;
  z-index: 1;
  width: 40rem;
  margin-top: 4rem;
  margin-left: 4rem;
}

li {
  font-family: 'Roboto',sans-serif;
}

.bill_summary1 {
  color: #F4F7FC;
}

.bill_summary2 {
  color: #F4F7FC;
}

.bill_summary3 {
  color: #F4F7FC;
}
*/
/* ------------------------- SEARCH -------------------------*/
/*
.bill_search {
  grid-area: 2 / 1 / 2 / 13;
  background-color: #F4F7FC;
  display: grid;
  grid-template-rows: 5rem auto auto auto auto 5rem;
  grid-template-columns: repeat(12,1fr);
}
*/
/* ------------------------- COMMITTEE ----------------------*/
/*
.bill_sec1 {
  grid-area: 3 / 1 / 3 / 13;
  background-color: #11447B;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 5rem repeat(15,auto) 5rem;
}

.sec1_title {
  grid-area: 2 / 1 / 2 / 13;
  justify-self: center;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
}

.sec1_title1 {
  grid-area: 3 / 1 / 3 / 13;
  justify-self: center;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
  padding-top: 1rem;
}

.rect5 {
  grid-area: 3 / 1 / 3 / 13;
  justify-self: center;
  align-self: end;
  background-color: #56CCF2;
  width: 90rem;
  height: .2rem;
  margin-top: 5rem;
}

.sec1_title3 {
  grid-area: 4 / 3 / 4 / 9;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
  padding-top: 5rem;
}

.sec1_title4 {
  grid-area: 5 / 3 / 5 / 6;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
  padding-top: 3rem;
}

.sec1_title5 {
  grid-area: 5 / 7 / 5 / 10;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
  padding-top: 3rem;
}

.bill_sec1 .state_senators {
  grid-area: 6 / 3 / 8 / 6;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(6,auto);
}

.state_senators .senchair_1 {
  grid-area: 1 / 1 / 1 / 2;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.state_senators .senchair_2 {
  grid-area: 1 / 3 / 1 / 4;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.bill_sec1 .state_reps {
  grid-area: 6 / 7 / 6 / 11;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(10,auto);
}

.chair_img {
  grid-area: 1 / 1 / 4 / 4;
  border-radius: 50%;
  height: 13rem;
  border: 1rem solid #780116
}

.chair_no {
  grid-area: 2 / 3 / 3 / 4;
  height: 5rem;
}

.senchair_1 .chair_name {
  grid-area: 3 / 1 / 4 / 4;
  color: #F4F7FC;
}

.bill_sec1 .dot_chair {
  height: 13rem;
  width: 13rem;
  background-color: #780116;
  border-radius: 50%;
  display: inline-block;
  margin: 1rem;
}

.bill_sec1 .dot_commit {
  height: 8rem;
  width: 8rem;
  background-color: #780116;
  border-radius: 50%;
  display: inline-block;
  margin: 1rem;
}

.state_senators .chairs {
  grid-area: 1 / 1 / 1 / 4;
}

.state_senators .committee_dots {
  grid-area: 3 / 1 / 6 / 4;
}


.state_reps .chairs2 {
  grid-area: 1 / 1 / 1 / 5;
}

.state_reps .committee_dots2 {
  grid-area: 3 / 1 / 11 / 5;
}

.state_senators .committee_dots {
  display: grid;
}

.committee_dots .dt1 {
  grid-area: 1 / 1;
  justify-self: center;
  display: grid;
}

.committee_dots .dt2 {
  grid-area: 1 / 2;
  justify-self: center;
  display: grid;
}

.committee_dots .dt3 {
  grid-area: 1 / 3;
  justify-self: center;
  display: grid;
}

.committee_dots .dt4 {
  grid-area: 2 / 1;
  justify-self: center;
  display: grid;
}

.committee_dots .dt5 {
  grid-area: 2 / 2;
  justify-self: center;
  display: grid;
}

.committee_dots .dt6 {
  grid-area: 2 / 3;
  justify-self: center;
  display: grid;
}

*/
/* ------------------------- CO-SPONSORSHIP -----------------*/

.bill_sec2 {
  grid-area: 4 / 1 / 4 / 13;
  background-color: #F4F7FC;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  background-color: #11447B;
  border-radius: 10px 10px 0px 0px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #11447B;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #145396;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #145396;
  border-bottom: 4px solid #ECA632;
  display: inline-block;
  /*line-height: 0.85;*/
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 5px solid #145396;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

/* ------------------------- TIMELINE -----------------------*/

.bill_sec3 {
  grid-area: 5 / 1 / 5 / 13;
  background-color: #d8e5fd;
}

/* ------------------------- BILL PROCESS -------------------*/

.bill_sec4 {
  grid-area: 6 / 1 / 6 / 13;
  background-color: #F4F7FC;
}

/* ------------------------- BILL HISTORY -------------------*/

.bill_sec5 {
  grid-area: 7 / 1 / 7 / 13;
  background-color: #d8e5fd;
}

/*----------------------------------------------------------------------------*/
/* ----------------------------- LEGISLATOR PAGE -----------------------------*/
/*----------------------------------------------------------------------------*/

/* -- LEGISTLATOR PAGE // defining the grid areas for responsiveness--*/

.leg_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  grid-template-areas:
    "header"
    "breadcrumb"
    "box-a"
    "box-b"
    "box-c"
    "bottom-container";
}

@media (min-width: 700px) {
  .leg_wrapper {
    grid-template-columns: 2fr 3fr;
    margin: 0rem 5rem 0rem 5rem;
    grid-template-areas:
      "header header"
      "breadcrumb breadcrumb"
      "box-a box-a"
      "box-b box-c"
      "bottom-container bottom-container";
  }
}

@media (min-width: 900px) {
  .leg_wrapper {
    grid-template-columns: 2fr 2.5fr 2.5fr;
    margin: 0rem 20rem 0rem 20rem;
    grid-template-areas:
      "header header header"
      "breadcrumb breadcrumb ."
      "box-a box-b box-c"
      "bottom-container bottom-container bottom-container";
  }
}

/* -- LEGISTLATOR PAGE // defining the grid area names--*/

.main_header {
  grid-area: header;
}

.main_breadcrumb {
  grid-area: breadcrumb;
}

.leg_top-container {
  grid-area: top-container;
}

.leg_bottom-container {
  grid-area: bottom-container;
}

.top-box-a {
  grid-area: box-a;
  text-align: center;
  padding: 2rem;
}

.top-box-b {
  grid-area: box-b;
  padding: 4rem 2rem 4rem 2rem;
}

.top-box-c {
  grid-area: box-c;
  padding: 4rem 2rem 4rem 2rem;
}


/* -- LEGISTLATOR PAGE // defining the grid area names--*/

/* -- LEGISTLATOR PAGE // styling the boxes on the page--*/
.top-box {
  display: grid;
  background-color: var(--primary);
  justify-content: center;
  /*align-self: center;*/
  /*padding: 2rem;*/
  border-radius: 1rem;
}


.icon {
  margin: auto;
  color: var(--light);
}

.top-box .icons {
  display: flex;
}

.leg_bottom-container {
  background-color: #11447B;
  border-radius: 1rem;
  /*padding: 2rem;*/
}

.leg_pledge {
  padding-bottom: .1rem;
  border-bottom: .3rem solid #56CCF2;
  margin: 0;
}

.leg_committ {
  padding-bottom: .1rem;
  border-bottom: .3rem solid #56CCF2;
  margin: 0;
}

/* -- LEGISTLATOR PAGE // styling the dark rect within box b--*/

.rect6 {
  display: flex;
  background-color: #11447B;
  margin: 1rem 0rem 1rem 0rem;
  padding: 1rem;
  border-radius: 1rem;
  align-self:center;
}

/* -- LEGISTLATOR PAGE // styling the dark rect within box c--*/

.rect7 {
  /*display: flex;*/
  background-color: #11447B;
  margin: 1rem 0rem 1rem 0rem;
  padding: 1rem;
  border-radius: 1rem;
  align-self:center;
}

/* -------------- LEGISTLATOR PAGE // format for bottom container-------------*/


.red_x {
  padding: 1rem;
  height: 3rem;
}

.green_check {
  padding: 1rem;
  height: 3rem;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*border-bottom: 1px solid black;*/
  background-color: #145396;
}

.tab {
  cursor: pointer;
  padding: 10px;
  background-color: #145396;
  width: 33%;
  text-align: center;
}

.tab.active {
  /*background-color: #CCC;*/
  border-bottom: .3rem solid #56CCF2;
  color: var(--light);
}

.tab:hover {
  /*background-color: #AAA;*/
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
  padding: 2rem;
}

@media (min-width: 700px) {
  .tab-content {
    padding: 5rem;
  }
}

.btn_history {
  margin: 0 auto;
  max-width: 30rem;
}

/* --- LEGISTLATOR PAGE // format for "yes & no vote history" lines -------*/
.item_1 {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem 0rem 1rem 3rem;
}

/* --- LEGISLATOR PAGE // format for "rep says quotes"--*/
.quote_text {
  max-width: 60%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}


/*------------------------------------------------------------------------*/
/* --------------------------------- ABOUT US ----------------------------*/
/*------------------------------------------------------------------------*/
.about_wrapper {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  grid-template-areas:
    "header"
    "top_box_a"
    "top_box_b"
    "top_box_c"
    "bot_container";
}
/*
.about_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    ". top_box_a ."
    ". top_box_b ."
    ". top_box_c ."
    ". bot_container .";
}*/

@media (min-width: 700px) {
  .about_wrapper {
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas:
      "header header header"
      "top_box_a top_box_b top_box_c "
      "bot_container bot_container bot_container";
    }
  }

.about_wrapper .main_header {
  grid-area: header;
  padding: 0rem 20rem;
}

.about_title {
  grid-area:
}

@media (min-width: 700px) {
  .about_title {
    grid-area: 2 / 1 / 2 / 3;
    align-self: start;
    margin: 5rem 20rem;
  }
}

.about_wrapper .top_box_a {
  grid-area: top_box_a;
  justify-self: right;
  padding: 13rem 0rem 2rem 0rem;
}

.about_icon {
  color: #56CCF2;
  margin: auto;
}

.about_rect1 {
  height: .5rem;
  width: 10rem;
  background-color: #56CCF2;
  margin-bottom: 1rem;
}

.about_wrapper .top_box_b {
  grid-area: top_box_b;
  justify-self: center;
  padding: 13rem 0rem 2rem 0rem;
}

.about_wrapper .top_box_c {
  grid-area: top_box_c;
  justify-self:left;
  padding: 13rem 0rem 2rem 0rem;
}

.about_top_background {
  background-color: var(--primary);
  grid-area: 2 / 1 / 2 / 8;
  z-index:-1;
}

.about_wrapper .who_title {
  grid-area: 3 / 1 / 3 / 3;
  align-self: start;
  padding: 5rem 20rem;
}

.about_wrapper .bot_container {
  grid-area: bot_container;
  display: grid;
  padding: 12rem 20rem;
  grid-column-gap: 5rem;
}

.about_rect {
  height: 30rem;
  width: 20rem;
  border-radius: 1rem;
  /*border: solid .4rem #56CCF2;*/
}


.about_top {
  padding-top: 10rem;
}

.bot_container .erika {
  grid-area: 1 / 1;
  max-width: 20rem;
}

.bot_container .matt {
  grid-area: 1 / 2;
  max-width: 20rem;
}

.bot_container .connie {
  grid-area: 1 / 3;
  max-width: 20rem;
}

.bot_container .sean {
  grid-area: 1 / 4;
  max-width: 20rem;
}


/*------------------------------------------------------------------*/
/*------------------------------ SEARCH ----------------------------*/
/*------------------------------------------------------------------*/

.search_wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "breadcrumb"
    "top_container"
}

.main_header {
  grid-area: header;
}

@media (min-width: 700px) {
  .main_header {
    padding: 0rem 20rem;
  }
}

.main_breadcrumb {
  grid-area: breadcrumb;
  /*padding: 5rem 20rem;*/
}

.search_top_container {
  grid-area: top_container;
  padding: 0rem 20rem;
  display: grid;
}

.search_top_background {
  background-color: var(--primary);
  grid-area: 2 / 1 / 4 / 1;
  z-index: -1;
}

.search_top_container .search_title {
  grid-area: 1 / 1 / 1 / 4;
  justify-self: center;
  text-transform: uppercase;
  color: var(--light);
  z-index: 1;
}

.search_top_container .search_title1 {
  grid-area: 1 / 1 / 1 / 4;
  justify-self: center;
  padding: .3rem .3rem;
  text-transform: uppercase;
  color: #56CCF2;
  border-bottom: .75rem solid #56CCF2;
}

.search_top_container .search_txt {
  color: var(--light);
}

.search_bottom_container {
  display: grid;
  padding: 5rem 20rem;
  justify-self: center;
}

.search_bottom_container .search_rect1 {
  height: 5rem;
  width: 100rem;
  background-color: #AFCBFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0rem 0rem 0rem;
}

/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* -------------------------- PLEDGE PAGE ----------------------------*/
/*--------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

.pledge_wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "breadcrumb"
    "hero_box_a"
    "hero_box_b"
    "pledge_box_a"
    "pledge_box_b"
    "search_box_a"
    "search_box_b"
    "pledge_reps"
    "pledge_endorse"
    "footer";
}

@media (min-width: 700px) {
  .pledge_wrapper {
    display: grid;
    grid-template-areas:
      "header header"
      "breadcrumb breadcrumb"
      "hero_box_a hero_box_b"
      "pledge_box_a pledge_box_b"
      "search_box_a search_box_b"
      "pledge_reps pledge_reps"
      "pledge_endorse pledge_endorse"
      "footer footer";
      grid-column-gap: 5rem;
  }
}

/* ----------------- Hero Color Background --------------*/

.pledge_hero_background {
  background-color: var(--primary);
  grid-area: 2 / 1 / 5 / 1;
  z-index: -1;
}

@media (min-width: 700px) {
  .pledge_hero_background {
    grid-area: 2 / 1 / 4 / 3;
  }
}

/* ----------------- Hero Titles --------------*/

.pledge_wrapper .pledge_title {
  grid-area: 3 / 1 / 3 / 2;
  justify-self: center;
  text-transform: uppercase;
  color: var(--light);
  z-index: 1;
  padding-top: 2rem;
  font-size: 1.8rem;
}

@media (min-width: 700px){
  .pledge_wrapper .pledge_title {
    grid-area: 3 / 1 / 3 / 3;
    padding: 0;
    font-size: 3rem;
  }
}

.pledge_wrapper .pledge_title1 {
  grid-area: 3 / 1 / 3 / 2;
  justify-self: center;
  padding: 2.2rem .3rem;
  text-transform: uppercase;
  color: #56CCF2;
  font-size: 1.8rem;
}

@media (min-width: 700px){
  .pledge_wrapper .pledge_title1 {
    grid-area: 3 / 1 / 3 / 3;
    padding: .3rem .3rem;
    font-size: 3rem;
  }
}

/*---------- PLEDGE PG / HERO UNIT / left side of hero unit -----------*/
.hero_box_a {
  grid-area: hero_box_a;
  padding: 7rem 0rem 0rem 0rem;
  display: grid;
  grid-template-rows: 1fr 0rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 30rem;
  justify-self: center;
}

@media (min-width: 700px){
  .hero_box_a {
    padding: 10rem 0rem 5rem 20rem;
    max-width: 50rem;
  }
}

.hero_box_a .dots_1 {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  /*justify-content: left;*/
  grid-area: 3 / 1;
  max-width: 10rem;
}

@media (min-width: 700px){
  .hero_box_a .dots_1 {
    max-width: 15rem;
  }
}

.hero_box_a .dots_2 {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  /*justify-content: right;*/
  grid-area: 1 / 3;
  max-width: 10rem;
}

@media (min-width: 700px){
  .hero_box_a .dots_2 {
    max-width: 15rem;
  }
}

.hero_box_a .pledge_img {
  align-self: center;
  justify-self: center;
  z-index: 1;
  grid-area: 1 / 1 / 4 / 4;
  max-height: 19rem;
  padding:0rem 0rem 3rem 0rem;
}

@media (min-width: 700px){
  .hero_box_a .pledge_img {
    max-height: 33rem;
    padding:0rem 6rem 7rem 0rem;
  }
}

/*---------- PLEDGE PG / HERO UNIT / right side of hero unit -------*/

.hero_box_b {
  grid-area: hero_box_b;
  padding: 0rem 0rem 5rem 0rem;
  max-width: 30rem;
  display: grid;
  justify-self: center;
}

@media (min-width: 700px) {
  .hero_box_b {
    grid-area: hero_box_b;
    padding: 10rem 20rem 5rem 0rem;
    max-width: 45rem;
    display: grid;
  }
}

.hero_box_b .pledge_hero_text {
  display: grid;
  grid-template-rows: auto auto;
  /*padding: 5rem 0rem 0rem 0rem;*/
  align-content: center;
}

.hero_box_b .hero_quote {
  opacity: 30%;
  font-size: 6em;
  align-self: end;
  justify-self: right;
}

.hero_box_b .hero_quote_txt {
  align-self:center;
  text-align:right;
  max-width: 33rem;
  justify-self: right;
}

/*---------- left side of pledge unit -----------*/

.pledge_box_a {
  grid-area: pledge_box_a;
  display: grid;
  padding: 5rem 0rem 5rem 0rem;
  max-width: 30rem;
  justify-self: center;
}

@media (min-width: 700px){
  .pledge_box_a {
    grid-area: pledge_box_a;
    display: grid;
    padding: 5rem 5rem 5rem 20rem;
    max-width: 50rem;
  }
}

.pledge_box_a .pledge {
  justify-self:center;
  max-height: 40rem;
}

/*---------- right side of pledge unit -----------*/

.pledge_box_b {
  grid-area: pledge_box_b;
  display: grid;
  grid-template-rows: repeat(4,auto);
  grid-template-columns: 1fr;
  padding: 0rem 0rem 5rem 0rem;
  max-width: 30rem;
  justify-self: center;
}

@media (min-width: 700px){
  .pledge_box_b {
    padding: 5rem 20rem 5rem 0rem;
    max-width: 45rem;
  }
}

.pledge_box_b .small_rect {
  height: .5rem;
  width: 10rem;
  margin: 1rem 0rem 1rem 0rem;
  background-color: #ECA632;
  align-self: end;
}

@media (min-width: 700px){
  .pledge_box_b .small_rect {
    height: 1rem;
    width: 10rem;
    background-color: #ECA632;
    align-self: end;
  }
}

.btn_trans_pledge {
  justify-self: center;
  align-self: center;
  margin: 1rem 0rem 1rem 0rem;
}

/*---------- PLEDGE PG / PLEDGE UNIT / background -----------*/

.pledge_pledge_background {
  background-color: #AFCBFF;
  grid-area: 5 / 1 / 7 / 2;
  z-index: -1;
}

@media (min-width: 700px) {
  .pledge_pledge_background {
    background-color: #AFCBFF;
    grid-area: 4 / 1 / 4 / 3;
    z-index: -1;
  }
}

/*---------- PLEDGE PG / SEARCH UNIT / background ----------*/

.pledge_search_background {
  background-color: var(--primary);
  grid-area: 7 / 1 / 9 / 2;
  z-index: -1;
}

@media (min-width: 700px){
  .pledge_search_background {
    background-color: var(--primary);
    grid-area: 5 / 1 / 5 / 3;
    z-index: -1;
  }
}

/*---------- PLEDGE PG / SEARCH UNIT / left side ----------*/

.search_box_a {
  grid-area: search_box_a;
  display: grid;
  padding: 5rem 0rem 2rem 0rem;
  max-width: 30rem;
  justify-self: center;
}

@media (min-width: 700px) {
  .search_box_a {
    padding: 10rem 0rem 5rem 20rem;
    max-width: 50rem;
  }
}

.pledge_txt {
  text-transform: uppercase;
  justify-self: center;
  padding-top: 5rem;
  max-width: 30rem;
  color: var(--light);
}

/*---------- PLEDGE PG / SEARCH UNIT / right side ----------*/

.search_box_b {
  grid-area: search_box_b;
  padding: 0rem 0rem 5rem 0rem;
  display: grid;
  max-width: 30rem;
  justify-self: center;
}

@media (min-width: 700px){
  .search_box_b {
    grid-area: search_box_b;
    padding: 15rem 20rem 5rem 0rem;
    display: grid;
    max-width: 45rem;
  }
}

/*---------- PLEDGE PG / SEARCH UNIT / title ----------*/

.pledge_search_title {
  grid-area: 7 / 1 / 7 / 2;
  justify-self: center;
  text-transform: uppercase;
  color: #56ccf2;
  padding: 5rem 0rem 5rem 0rem;
}

@media (min-width: 700px){
  .pledge_search_title {
    grid-area: 5 / 1 / 5 / 3;
    justify-self: center;
    text-transform: uppercase;
    color: #56ccf2;
    padding: 5rem 0rem 5rem 0rem;
  }
}

.pledge_search_title1 {
  grid-area: 7 / 1 / 7 / 2;
  justify-self: center;
  text-transform: uppercase;
  margin: .3rem .3rem;
  color: var(--light);
  padding: 5rem 0rem 5rem 0rem;
}

@media (min-width: 700px){
  .pledge_search_title1 {
    grid-area: 5 / 1 / 5 / 3;
    justify-self: center;
    text-transform: uppercase;
    margin: .3rem .3rem;
    color: var(--light);
    padding: 5rem 0rem 5rem 0rem;
  }
}

/*-- PLEDGE PG / WHO HAS SIGNED? UNIT/ Legislator Circle Section ---*/

.pledge_reps {
  grid-area: pledge_reps;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(9,auto);
  grid-template-columns: repeat(3,auto);
  padding: 5rem 0rem 5rem 0rem;
  max-width: 30rem;
  justify-self: center;
}

@media (min-width: 700px){
  .pledge_reps {
    grid-gap: 1rem;
    grid-template-rows: repeat(8,auto);
    grid-template-columns: repeat(5,1fr);
    padding: 5rem 20rem 5rem 20rem;
    max-width: none;
    justify-self: normal;
  }
}

.leg_circ {
  justify-self: center;
  align-self: center;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-gap: .2rem;
  max-width: 7rem;
}

.leg_circ_img {
  border-radius: 50%;
  border: solid .5rem #5FAD41;
  max-width: 6rem;
  grid-area: 1 / 1;
}

@media (min-width: 700px){
  .leg_circ_img {
    border-radius: 50%;
    border: solid 1rem #5FAD41;
    max-width: 10rem;
    grid-area: 1 / 1;
  }
}

.leg_circ_check {
  border-radius: 50%;
  background-color: #5FAD41;
  max-width: 2rem;
  grid-area: 1 / 1;
  align-self: end;
  justify-self: right;
  max-width: 2.5rem;
}

@media (min-width: 700px){
  .leg_circ_check {
    border-radius: 50%;
    background-color: #5FAD41;
    grid-area: 1 / 1;
    align-self: end;
    justify-self: right;
    max-width: 4rem;
  }
}

.pledge_leg_title {
  grid-area: 1 / 1 / 1 / 4;
  padding-bottom: 2rem;
}

@media (min-width: 700px){
  .pledge_leg_title {
    grid-area: 1 / 1 / 1 / 6;
    padding-bottom: 2rem;
  }
}

.pledge_leg_title1 {
  grid-area: 2 / 1 / 2 / 4;
}

@media (min-width: 700px){
  .pledge_leg_title1 {
    grid-area: 2 / 1 / 2 / 6;
  }
}

.pledge_leg_title2 {
  grid-area: 6 / 1 / 6 / 4;
}

@media (min-width: 700px){
  .pledge_leg_title2 {
    grid-area: 6 / 1 / 6 / 6;
  }
}

.Rebecca_Rausch {
  grid-area: 7 / 1;
}

.James_Eldridge {
  grid-area: 7 / 2;
}

/*--------------- PLEDGE PG / ENDORSEMENTS ----------------*/

.pledge_endorse {
  display: grid;
  grid-template-rows: repeat(5,auto);
  grid-template-columns: repeat(2,auto);
  padding: 0rem 0rem 5rem 0rem;
  grid-gap: 1rem;
  grid-area: pledge_endorse;
  justify-self: center;
}

@media (min-width: 700px) {
  .pledge_endorse {
    grid-template-columns: repeat(3,auto);
    padding: 5rem 20rem 5rem 20rem;
    grid-gap: 2rem;
    justify-self: normal;
  }
}

.pledge_endorse_title {
  grid-area: 1 / 1 / 1 / 3;
}

@media (min-width: 700px){
  .pledge_endorse_title {
    grid-area: 1 / 1 / 1 / 4;
  }
}

.endorse_img {
  max-width: 15rem;
  max-height: 10rem;
  align-self: center;
  justify-self: center;
}

@media (min-width: 700px){
  .endorse_img {
    max-width: 20rem;
    max-height: 15rem;
    align-self: center;
    justify-self: center;
  }
}

/*--------------- PLEDGE PG / FOOTER ----------------*/

.main_footer {
  grid-area: footer;
  display: grid;
}

.footer_top {
  background-color: #ECA632;
  text-align: center;
  padding: 5rem 0rem 5rem 0rem;
  display: grid;
}

.main_footer .footer_txt {
  text-transform: uppercase;
  max-width: 30rem;
  justify-self: center;
}

@media (min-width: 700px){
  .main_footer .footer_txt {
    max-width: 60rem;
  }
}

.btn_footer {
  background-color: #145396;
  margin-top: 4rem;
  color: var(--light);
  justify-self: center;
}

.footer_bottom {
  padding: 2rem 0rem 5rem 0rem;
}

/*--------------------------------------------------------*/
/*--------------------- ISSUES PG ------------------------*/
/*--------------------------------------------------------*/
.issues_wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "breadcrumb"
    "issues_hero_a"
    "issues_hero_c"
    "issues_bills_a"
    "issues_bills_b"
    "issues_bills_c"
    "issues_fail_a"
    "issues_fail_b"
    "issues_fail_c"
    "issues_signup_a"
    "issues_signup_c"
    "issues_faq_a"
    "issues_faq_c"
    "issues_learn_a"
    "issues_learn_b"
    "issues_learn_c"
    "issues_ref"
    "footer"
}

@media (min-width: 700px){
  .issues_wrapper {
    display: grid;
    grid-template-areas:
      "header header header"
      "breadcrumb breadcrumb ."
      "issues_hero_a issues_hero_a issues_hero_c"
      "issues_bill_a issues_bill_b issues_bill_c"
      "issues_fail_a issues_fail_b issues_fail_c"
      "issues_signup_a issues_signup_a issues_signup_c"
      "issues_faq_a issues_faq_b issues_faq_c"
      "issues_learn_a issues_learn_b issues_learn_c"
      "issues_ref issues_ref issues_ref"
      "footer footer footer"
  }
}

.issues_hero_background {
  background-color: var(--primary);
  grid-area: 2 / 1 / 5 / 1;
  z-index: -1;
}

@media (min-width: 700px) {
  .issues_hero_background {
    grid-area: 2 / 1 / 4 / 4;
  }
}

.hero_title {
  grid-area: 3 / 1 / 3 / 2;
  justify-self: center;
  text-transform: uppercase;
  color: var(--light);
  z-index: 1;
  padding-top: 2rem;
  font-size: 1.8rem;
}

@media (min-width: 700px){
  .hero_title {
    grid-area: 3 / 1 / 3 / 4;
    padding: 0;
    font-size: 3rem;
  }
}

.hero_title1 {
  grid-area: 3 / 1 / 3 / 2;
  justify-self: center;
  padding: 2.2rem .3rem;
  text-transform: uppercase;
  color: #56CCF2;
  font-size: 1.8rem;
}

@media (min-width: 700px){
  .hero_title1 {
    grid-area: 3 / 1 / 3 / 4;
    padding: .3rem .3rem;
    font-size: 3rem;
  }
}

.issues_hero_a {
  grid-area: issues_hero_a;
  padding: 7rem 0rem 0rem 0rem;
  display: grid;
  grid-template-rows: 1fr 0rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 30rem;
  justify-self: center;
}

@media (min-width: 700px){
  .issues_hero_a {
    padding: 10rem 0rem 5rem 20rem;
    max-width: 50rem;
  }
}

.issues_hero_a .dots_1 {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  /*justify-content: left;*/
  grid-area: 3 / 1;
  max-width: 10rem;
}

@media (min-width: 700px){
  .issues_hero_a .dots_1 {
    max-width: 15rem;
  }
}

.issues_hero_a .dots_2 {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  /*justify-content: right;*/
  grid-area: 1 / 3;
  max-width: 10rem;
}

@media (min-width: 700px){
  .issues_hero_a .dots_2 {
    max-width: 15rem;
  }
}

.issues_hero_a .pledge_img {
  align-self: center;
  justify-self: center;
  z-index: 1;
  grid-area: 1 / 1 / 4 / 4;
  max-height: 19rem;
  padding:0rem 0rem 3rem 0rem;
}

@media (min-width: 700px){
  .issues_hero_a .pledge_img {
    max-height: 33rem;
    padding:0rem 6rem 7rem 0rem;
  }
}

/*---------- PLEDGE PG / HERO UNIT / right side of hero unit -------*/

.issues_hero_c {
  grid-area: issues_hero_c;
  padding: 0rem 0rem 5rem 0rem;
  max-width: 30rem;
  display: grid;
  justify-self: center;
}

@media (min-width: 700px) {
  .issues_hero_c {
    grid-area: issues_hero_c;
    padding: 10rem 20rem 5rem 0rem;
    max-width: 45rem;
    display: grid;
  }
}

.issues_hero_c .issues_hero_text {
  display: grid;
  grid-template-rows: auto 1fr;
  /*padding: 5rem 0rem 0rem 0rem;*/
  /*align-content: center;*/
}

.issues_hero_c .hero_quote {
  opacity: 30%;
  font-size: 6em;
  align-self: end;
  justify-self: right;
}

.issues_hero_c .hero_quote_txt {
  align-self:start;
  text-align:right;
  max-width: 33rem;
  justify-self: right;
}
