/* CSS Variables */

:root {
  --primary: #145396;
  --dark: #061729;
  --light: #F4F7FC;
}

html {
  font-size: 10px;
}

body {
  background: ;
  margin: 5rem 5rem;
  line-height: 1.4;
}

@media (min-width: 700px) {
  body {
    background: ;
    margin: 5rem 10rem;
    line-height: 1.4;
  }
}

p{
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  margin:0;
}

h4 {
  font-size: 1.2rem;
  margin: 0;
}

li {
  font-size: 1.2rem;
}

@media (min-width: 700px) {
  h1 {
    font-size: 5rem;
    color: #061729;
  }

  h2 {
    font-size: 3rem;
    color: #061729;
  }

  h3 {
    font-size: 2.5rem;
    color: #061729;
  }

  h4 {
    font-size: 2rem;
    color: #061729;
  }

  /*h5 {
    font-size: 1.4rem;
    color: #061729;
  }*/

  p {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #061729;
  }

  li {
    font-size: 2rem;
  }
}


/*
@media (min-width: 768px) and (max-width: 1024px) {
      p{
        font-size: 1.6rem;
      }
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1.2rem;
      }
    }*/

.fRaleway {
  font-family: 'Raleway', sans-serif;
}

.fRoboto {
  font-family: 'Roboto', sans-serif;
}

.fLight {
  font-weight: 400;
}

.fRegular {
  font-weight: 500;
}

.fBold {
  font-weight: 700;
}

.fExbold {
  font-weight: 800;
}

.fWhite {
  color: #F4F7FC;
}

.fDark {
  color: #061729;
}

.fMainColor {
  color: #145396;
}

.fInactive {
  color: #6991BC;
}

.fUppercase {
  text-transform: uppercase;
}

.btn {
  border: none;
  background-color: #ECA632;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  max-width: 20rem;
  max-height: 5rem;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/* On mouse-over */
.btn:hover {background: #eee;}

.container{
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));*/
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(8, auto);
  overflow-x: hidden;
  max-width: none;
  width: 100%;
}

@media (max-width: 767px) {
  .container{
    grid-template-columns: 1fr;
  }
}

/*.block {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}*/

/* NAVIGATION */

.main_header ul {
  display: grid;
  grid-column-gap: 3rem;
  list-style: none;
  grid-template-columns: 1fr repeat(6,auto);
  align-items: center;
  padding: 0;
  margin: 0;
}

/*ul.main_header li {
  align-self: center;
}*/

.main_header a {
  text-decoration: none;
  font-size: 1.6rem;
}

.head_logo {
  max-height: 10rem;
}

/*.nav_text {
  align-self: center;
}*/

.btn_header {
  background-color: #56CCF2;
}

/* Dropdown Button */
.dropbtn {
  /*background-color: #4CAF50;
  color: white;*/
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0rem 0rem 1rem 1rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #145396;
  color: #56CCF2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  /*color: var(--light);*/
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover {
  background-color: #11447B;
  color: var(--light);
}*/

/*
.dropbtn:hover {
  color: var(--light);
}*/

/*--------------------- HOMEPAGE HERO ------------------------*/

.homepage_wrapper {
  display:grid;
  /*grid-gap: 2rem;*/
  grid-template-areas:
    "header"
    "hero_left"
    "hero_text"
    "act"
    "failures_sm"
    "issues"
    "search_left"
    "search_right"
    "pledge_left"
    "account_text"
}

.homepage_wrapper .learn .volunteer .lgbt .climate_change .immigration {
  display: none;
}

@media (min-width: 600px) {
  .homepage_wrapper {
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-areas:
      "header header header"
      "hero hero hero"
      "take_action take_action take_action"
      "failures failures failures"
      "issues issues issues"
      "search search search"
      "accountability accountability accountability";
  }
}

/*
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 2fr 2.5fr 2.5fr;
    grid-template-areas:
      "header header header"
      "brdcrum brdcrum ."
      "box-a box-b box-c"
      "bottom-container bottom-container bottom-container ";
  }
}*/

.homepage_wrapper .main_header {
  grid-area: header;
}

.homepage_wrapper .hero {
  grid-area: hero;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  background-color: var(--primary);
}

/*
.homepage_wrapper .hero_text {
  grid-area: hero_text;
}*/

.homepage_wrapper .take_action {
  grid-area: take_action;
}

.homepage_wrapper .failures {
  grid-area: failures;
  padding: 5rem;
}


.failures .immigration {
  grid-area: 2 / 1;
  padding-top: 5rem;
  max-width: 25rem;
}

.failures .climate_change {
  grid-area: 2 / 2;
  padding-top: 5rem;
  max-width: 25rem;
}

.failures .lgbt {
  grid-area: 2 / 3;
  padding-top: 5rem;
  max-width: 25rem;
}

.homepage_wrapper .issues {
  grid-area: issues;
  padding: 5rem;
}

.homepage_wrapper .search {
  grid-area: search;
  padding: 5rem;
}

/*.homepage_wrapper .search_right {
  grid-area: search;
}*/

.homepage_wrapper .accountability {
  grid-area: accountability;
  display: grid;
  padding: 5rem;
}

/*
.homepage_wrapper .account_text {
  grid-area: account_text;
}*/



















/*.container .hero {
  background-color: #11447B;
  /*grid-area: 1 / 1 / 1 / 13;*/
/*  display: grid;
  grid-template-rows: 5rem auto auto 5rem;
  grid-template-columns: repeat(12,1fr);
}*/
/*
@media (max-width: 767px) {
  .container .hero {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: .5fr auto .5fr;
    grid-template-rows: 3rem auto auto auto 3rem;
  }
}*/

/*.hero_left {
  /*grid-area: 2 / 3 / 4 / 8;*/
  /*display: grid;
}*/
/*
@media (max-width: 767px) {
  .hero .hero_left {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
  }
}*/


.hero .hero_left {
  display: grid;
  grid-area: 1 / 1;
}

/* do I need this anymore? */
.hero_text .header1 {
  margin: 0;
  color: #FEFBF8;
}

.hero_text .header2 {
  margin: 0;
  color: #FEFBF8;
}

.hero_text .header3 {
  margin: 0;
  color: #FEFBF8;
}

.hero_text .header4 {
  margin: 0;
  color: #FEFBF8;
}

/*----------*/

.hero_left .hero_img {
  grid-area: 1 / 1 / 4 / 1;
  width: 36rem;
  z-index: 1;
  align-self: center;
  justify-self: center;
}

/* ------- PHONE -----------*/
/*@media (max-width: 767px) {
  .hero .hero_img{
    grid-area: 2 / 2;
    width: 22rem;
    margin-bottom: 4rem;
    justify-self: center;
  }
}*/

/* Portrait and Landscape */
/*@media (min-width: 768px) and (max-width: 1024px){
    .hero .hero_img {
      grid-area: 2 / 3 / 2 / 7;
      width: 27rem;
      z-index: 1;
      margin-top: 0rem;
      justify-self: center;
      align-self: center;
      padding-bottom: 4rem;
    }
}*/

.hero_text .smLine {
  grid-area: 1 / 1;
  align-self: center;
  padding-left: 14rem;
}

/* ---- do I need this? */
.hero_text .header1 {
  grid-area: 1 / 1;
}
/*
@media (max-width: 767px) {
  .hero .smLine{
    grid-area: 3 / 2;
    margin-left: 3rem;
    margin-top: 2.5rem;
    justify-self: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
    .hero .smLine {
      margin-bottom:12rem;
      align-self: center;
    }
}*/

.dot {
  height: 25px;
  width: 25px;
  background-color: #56CCF2;
  border-radius: 50%;
  display: inline-block;
  margin: .4rem;
}
/*
@media (max-width: 767px) {
  .dot{
    height: 1rem;
    width: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
    .dot {
      height: 1.5rem;
      width: 1.5rem;
    }
}
*/
.hero_left .dots_1 {
  grid-area: 3 / 1;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  margin: 2rem;
  justify-self: left;
}

/*
@media (max-width: 767px) {
  .hero .dots_1{
    grid-area: 2 / 2;
    margin-left: 16rem;
    width: 9rem;
    height: 9rem;
    /*padding: 2rem;*/
    /*justify-self: right;
    align-self: start;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
    .hero .dots_1 {
      grid-area: 2 / 5 / 2 / 7;
      width: 15rem;
      height: 15rem;
      margin-bottom:11rem;
      align-self: center;
      justify-self: right;
    }
}*/

.hero_left .dots_2 {
  grid-area: 1 / 1;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  justify-content:right;
  margin: 2rem;
}
/*
@media (max-width: 767px) {
  .hero .dots_2{
    grid-area: 2 / 2;
    width: 9rem;
    height: 9rem;
    /*padding: 2rem;*/
    /*margin: 0;
    justify-self: left;
    align-self: end;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
    .hero .dots_2 {
      grid-area: 2 / 3 / 2 / 5;
      width: 15rem;
      height: 15rem;
      align-self: end;
      justify-self: left;
    }
}*/

.hero .hero_text {
  display: grid;
  grid-area: 1 / 3;
  /*text-transform: uppercase;*/
  color: #FEFBF8;
  align-self: center;
}

.homepage_wrapper .rectangle {
  grid-area: 2 / 2 / 4 / 2;
  z-index: 1;
  justify-self: center;
  margin-top: 7rem;
  align-self: center;
  height: 5rem;
  width: 20rem ;
  background-color: #56CCF2;
}

.rectangle .bridge_text {
  justify-self: center;
  align-self: center;
}

/* ------------- HOMEPAGE TAKE ACTION ------------- */

.take_action {
  background-color: #dfeafd;
  /*grid-area: 2 / 1 / 2 / 13;
  grid-area: 2 / 1 / 2 / 13;*/
  display: grid;
  padding: 5rem;
  grid-column-gap: 2rem;
  /*grid-template-columns: repeat(12,1fr);
  grid-template-rows: 5rem auto auto auto 5rem;*/
}


.take_action .learn {
  grid-area: 2 / 1;
  max-width:20rem;
  justify-self: center;
  display: grid;
}

.take_action .btn_learn {
  align-self: end;
  margin: 1rem;
}

.take_action .volunteer {
  grid-area: 2 / 2;
  max-width:20rem;
  justify-self: center;
  display: grid;
}

.take_action .btn_volunteer {
  align-self: end;
  margin: 1rem;
}


.take_action .act {
  grid-area: 2 / 3;
  max-width:20rem;
  justify-self: center;
  display: grid;
}

.take_action .btn_act {
  align-self: end;
  margin: 1rem;
}

/* --------------------- HOMEPAGE HOUSE FAILURES -----------------*/

.failures {
  background-color: #F4F7FC;
/* grid-area: 3 / 1 / 3 / 13;*/
  display: grid;
  /*grid-template-columns: repeat(12,1fr);
  grid-template-rows: 5rem auto auto auto auto 5rem;*/
}

@media (max-width: 767px) {
  .failures {
    grid-template-columns: .5fr auto .5fr;
    grid-template-rows: 5rem auto auto 5rem;
  }
}

.failure_title {
  grid-area: 1 / 1 / 1 / 3;
  text-transform: uppercase;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .failure_title {
    grid-area: 2 / 2;
  }
}

.rect {
  height: .5rem;
  width: 15rem;
}

.rect1 {
  grid-area: 1 / 1;
  background-color: #ECA632;
}

@media (max-width: 767px) {
  .rect1 {
    grid-area: 2 / 2;
  }
}

.rect2 {
  background-color: #56CCF2;
}

@media (max-width: 767px) {
   .rect2 {
     width: 50%;
  }
}

.failures .immigration {
  /*grid-area: 3 / 3 / 3 / 5;*/
}

@media (max-width: 767px) {
  .failures .immigration {
    display: none;
  }
}

.immigration .immig_title {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

@media (max-width: 767px) {
   .immigration .immig_title {
    padding-top:1rem;
  }
}

.immigration .immig_text {
  margin-top: 1rem;
}

@media (max-width: 767px) {
   .immigration .immig_title {
    padding-top:1rem;
  }
}

.failures .climate_change {
/*  grid-area: 3 / 6 / 3 / 8;*/
}

@media (max-width: 767px) {
  .failures .climate_change {
    display: none;
  }
}

.climate_change .climate_title {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

@media (max-width: 767px) {
   .climate_change .climate_title {
    padding-top:1rem;
  }
}

.climate_change .climate_text {
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .climate_change .climate_text {
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .failures .lgbt {
    display: none;
  }
}

.failures .lgbt {
  /*grid-area: 3 / 9 / 3 / 11;*/
}

.lgbt .lgbt_title {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

@media (max-width: 767px) {
  .lgbt .lgbt_title {
    padding-top:1rem;
  }
}

.lgbt .lgbt_text {
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .lgbt .lgbt_text {
    padding-bottom: 2rem;
  }
}

/* SCROLLING TEST */

@media (min-width: 768px) and (max-width: 1024px){
  .failures_sm {
    display:none;
  }
}

@media (max-width: 767px) {
  :root {
    --gutter: 20px;
  }

  .failures_sm {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
    grid-area: 2 / 2;
  }

  .failures_sm > * {
    grid-column: 2 / -2;
  }

  .failures_sm > .full {
    grid-column: 1 / -1;
  }

  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);

    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  }

  .hs:before,
  .hs:after {
    content: '';
    width: 10px;
  }


  /* Demo styles */

  html,
  body {
    height: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  .failures_sm {
    grid-area: 3 / 2;
    width: 375px;
    height: 30rem;
    /*background: #DBD0BC;*/
    overflow-y: scroll;
  }

  .hs > li,
  .item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
  }



  .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}


/*---------------- HOMEPAGE ISSUES --------------*/
.issues {
  background-color: #11447B;
  /*grid-area: 4 / 1 / 4 / 13;*/
  display: grid;
  /*grid-template-columns: repeat(12,1fr);
  grid-template-rows: 5rem auto auto auto auto 5rem;*/
}

@media (max-width: 767px) {
  .issues {
    grid-template-columns: .5fr auto .5fr;
    grid-template-rows: 3rem auto 3rem;
  }
}

.issues_title {
/*  grid-area: 2 / 3 / 2 / 8;*/
  text-transform: uppercase;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .issues_title {
    grid-area: 2 / 2;
  }
}

/*-------------------- HOMEPAGE SEARCH ---------------*/
.search {
  background-color: #F4F7FC;
/*  grid-area: 5 / 1 / 5 / 13;*/
  display: grid;
  /*grid-template-rows: 5rem auto auto auto auto 5rem;
  grid-template-columns: repeat(12,1fr);*/
}

@media (max-width: 767px) {
  .search {
    grid-template-columns: .5fr auto .5fr;
    grid-template-rows: 3rem auto auto 3rem;
  }
}

.search .search_title {
  grid-area: 1 / 1 / 1 / 3;
  justify-self: center;
  text-transform: uppercase;
  color: #11447B;
  z-index: 3;
  margin:0;
  border-bottom: 1rem solid #6991BC;
}

/*
@media (max-width: 767px) {
  .search_title {
    grid-area: 2 / 2 / 2/ 3;
  }
}*/


.search .search_title1 {
  grid-area: 1 / 1 / 1 / 3;
  justify-self: center;
  text-transform: uppercase;
  color: #6991BC;
  padding-top: .3rem;
  padding-left: .3rem;
  margin:0;
  z-index:2;
}

/*
@media (max-width: 767px) {
  .search_title1 {
    grid-area: 2 / 2 / 2/ 3;
  }
}
*/
/*
.rect3 {
/*  grid-area: 2 / 1 / 2 / 13;*/
  /*background-color: #6991BC;
  justify-self: center;
  align-self:end;
  margin-bottom: 1.2rem;
  width: 60rem;
  z-index: 1;
}*/

@media (max-width: 767px) {
  .rect3 {
    grid-area: 2 / 2 / 2 / 3;
    width:38rem;
    margin:0;
  }
}

.search_txt {
  grid-area: 2 / 1 / 2 / 2;
  text-transform: uppercase;
  color: #061729;
  justify-self: center;
  max-width: 30rem;
  margin: 3rem;
}

/*
@media (max-width: 767px) {
  .search_txt {
    grid-area: 3 / 2 / 3 / 3;
    max-width: 15rem;
    margin: 1rem 1rem 1rem 0rem;
  }
}*/

/*----------------- HOMEPAGE ACCOUNTABILITY -----------*/

.accountability {
  background-color: #11447B;
/*  grid-area: 6 / 1 / 6 / 13;*/
  display: grid;
  /*grid-template-columns: repeat(12,1fr);
  grid-template-rows: 5rem auto auto auto auto 5rem;*/
}

.accountability .pledge_left {
  display: grid;
  grid-area: 2 / 1 / 2 / 2;
  padding: 2rem;
}
/*
@media (max-width: 767px) {
  .accountability {
    grid-template-columns: .5fr auto .5fr;
    grid-template-rows: 3rem auto auto auto auto 3rem;
  }
}*/

.account_title {
  grid-area: 1 / 1 / 1 / 3;
  text-transform: uppercase;
  padding-top: 1rem;
  margin:0;
}

/*
@media (max-width: 767px) {
  .account_title {
    grid-area: 2 / 2;
  }
}*/

.dot1 {
  height: 25px;
  width: 25px;
  background-color: #56CCF2;
  border-radius: 50%;
  display: inline-block;
  margin: .4rem;
}

@media (max-width: 767px) {
  .dot1 {
    height: 1rem;
    width: 1rem;
  }
}

.accountability .dots_3 {
  grid-area: 1 / 3;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  justify-self: right;
}

@media (max-width: 767px) {
  .accountability .dots_3{
    justify-self: right;
  /*padding: 2rem;*/
    grid-area: 3 / 2 / 3 / 3;
    width: 9rem;
    height: 9rem;
    padding-top: 2rem;
  }
}

.accountability .dots_4 {
  grid-area: 3 / 1;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  justify-self: left;
}

@media (max-width: 767px) {
  .accountability .dots_4{
    justify-self: left;
    align-self: end;
    /*padding: 2rem;*/
    grid-area: 3 / 2 / 3 / 4;
    width: 9rem;
    height: 9rem;
    margin: 0;
  }
}

.accountability .pledge_img1 {
  grid-area: 1 / 1 / 4 / 4;
  width: 40rem;
  z-index: 1;
  align-self: center;
  justify-self: center;
}

@media (max-width: 767px) {
  .accountability .pledge_img1 {
    grid-area: 3 / 2 / 3 / 3;
    width: 26rem;
    z-index:1;
    margin: 2rem;
    align-self: center;
    justify-self: center;
  }
}

.accountability .account_text {
  grid-area: 2 / 3;
  max-width: 35rem;
}

@media (max-width: 767px) {
  .account_text{
    grid-area: 4 / 2 / 4 / 3;
    max-width:20rem;
    justify-self: center;
  }
}

.accountability .account_text1 {
  text-transform: uppercase;
  color: #F4F7FC;
}

.accountability .account_text2 {
  color: #F4F7FC;
}

.accountability .btn_pledge {
/*  grid-area: 5 / 8 / 5 / 10;*/
}

@media (max-width: 767px) {
  .btn_pledge{
    grid-area: 5 / 2 / 5 / 3;
    justify-self: center;
    align-self: center;
  }
}

/*--------------------- BILL PAGE HERO ------------------*/

.bill_hero {
  background-color: #145396;
  grid-area: 1 / 1 / 1 / 13;
  display: grid;
  grid-template-rows: 5rem auto auto auto auto auto 5rem;
  grid-template-columns: repeat(12,1fr);
}

.bill_hero .bill_title {
  grid-area: 3 / 1 / 3 / 13;
  justify-self: center;
  text-transform: uppercase;
  color: #FEFBF8;
  z-index: 3;
  margin:0;
}

.bill_hero .bill_title1 {
  grid-area: 3 / 1 / 3 / 13;
  justify-self: center;
  text-transform: uppercase;
  color: #56CCF2;
  padding-top: .3rem;
  padding-left: .3rem;
  margin:0;
  z-index:2;
}

.bill_hero .rect4 {
  grid-area: 3 / 1 / 3 / 13;
  background-color: #56CCF2;
  justify-self: center;
  /*align-self:end;
  margin-bottom: 1.2rem;*/
  width: 65rem;
  z-index: 1;
  margin-top:4.5rem;
}

.bill_hero .test1 {
  grid-area: 4 / 3 / 4 / 7;
}

.bill_hero .test2 {
  grid-area: 4 / 8 / 4 / 11;
}

.bill_hero .dots_5 {
  grid-area: 4 / 5 / 4 / 7;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  margin-left: 9rem;
  width: 20rem;
  height: 20rem;
}

.bill_hero .dots_6 {
  grid-area: 4 / 3 / 4 / 5;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(5,auto);
  height: 20rem;
  width: 20rem;
  margin-left: -3rem;
  margin-top: 13rem;
}

.bill_hero .bill_summary {
  grid-area: 4 / 8 / 4 / 11;
}

.bill_hero_img {
  grid-area: 4 / 3 / 5 / 6;
  z-index: 1;
  width: 40rem;
  margin-top: 4rem;
  margin-left: 4rem;
}

li {
  font-family: 'Roboto',sans-serif;
  /*color: #F4F7FC;*/
  /*font-size: 2rem;*/
}

.bill_summary1 {
  color: #F4F7FC;
}

.bill_summary2 {
  color: #F4F7FC;
}

.bill_summary3 {
  color: #F4F7FC;
}

/*-------------------------- BREADCRUMB -----------------*/
.breadcrumb {
  grid-area: 2 / 3 / 2 / 6;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  /*background-color: #eee;*/
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 1.68rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #F4F7FC;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  /*color: #F4F7FC;*/
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ------------------------- SEARCH -------------------------*/
.bill_search {
  grid-area: 2 / 1 / 2 / 13;
  background-color: #F4F7FC;
  display: grid;
  grid-template-rows: 5rem auto auto auto auto 5rem;
  grid-template-columns: repeat(12,1fr);
}

/* ------------------------- COMMITTEE ----------------------*/

.bill_sec1 {
  grid-area: 3 / 1 / 3 / 13;
  background-color: #11447B;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 5rem repeat(15,auto) 5rem;
}

.sec1_title {
  grid-area: 2 / 1 / 2 / 13;
  justify-self: center;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
}

.sec1_title1 {
  grid-area: 3 / 1 / 3 / 13;
  justify-self: center;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
  padding-top: 1rem;
}

.rect5 {
  grid-area: 3 / 1 / 3 / 13;
  justify-self: center;
  align-self: end;
  background-color: #56CCF2;
  width: 90rem;
  height: .2rem;
  margin-top: 5rem;
}

.sec1_title3 {
  grid-area: 4 / 3 / 4 / 9;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
  padding-top: 5rem;
}

.sec1_title4 {
  grid-area: 5 / 3 / 5 / 6;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
  padding-top: 3rem;
}

.sec1_title5 {
  grid-area: 5 / 7 / 5 / 10;
  text-transform: uppercase;
  color: #F4F7FC;
  margin: 0;
  padding-top: 3rem;
}

.bill_sec1 .state_senators {
  grid-area: 6 / 3 / 8 / 6;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(6,auto);
}

.state_senators .senchair_1 {
  grid-area: 1 / 1 / 1 / 2;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.state_senators .senchair_2 {
  grid-area: 1 / 3 / 1 / 4;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.bill_sec1 .state_reps {
  grid-area: 6 / 7 / 6 / 11;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(10,auto);
}

.chair_img {
  grid-area: 1 / 1 / 4 / 4;
  border-radius: 50%;
  height: 13rem;
  border: 1rem solid #780116
}

.chair_no {
  grid-area: 2 / 3 / 3 / 4;
  height: 5rem;
}

.senchair_1 .chair_name {
  grid-area: 3 / 1 / 4 / 4;
  color: #F4F7FC;
}

.bill_sec1 .dot_chair {
  height: 13rem;
  width: 13rem;
  background-color: #780116;
  border-radius: 50%;
  display: inline-block;
  margin: 1rem;
}

.bill_sec1 .dot_commit {
  height: 8rem;
  width: 8rem;
  background-color: #780116;
  border-radius: 50%;
  display: inline-block;
  margin: 1rem;
}

.state_senators .chairs {
  grid-area: 1 / 1 / 1 / 4;
}

.state_senators .committee_dots {
  grid-area: 3 / 1 / 6 / 4;
}


.state_reps .chairs2 {
  grid-area: 1 / 1 / 1 / 5;
}

.state_reps .committee_dots2 {
  grid-area: 3 / 1 / 11 / 5;
}

.state_senators .committee_dots {
  display: grid;
}

.committee_dots .dt1 {
  grid-area: 1 / 1;
  justify-self: center;
  display: grid;
}

.committee_dots .dt2 {
  grid-area: 1 / 2;
  justify-self: center;
  display: grid;
}

.committee_dots .dt3 {
  grid-area: 1 / 3;
  justify-self: center;
  display: grid;
}

.committee_dots .dt4 {
  grid-area: 2 / 1;
  justify-self: center;
  display: grid;
}

.committee_dots .dt5 {
  grid-area: 2 / 2;
  justify-self: center;
  display: grid;
}

.committee_dots .dt6 {
  grid-area: 2 / 3;
  justify-self: center;
  display: grid;
}







/* ------------------------- CO-SPONSORSHIP -----------------*/

.bill_sec2 {
  grid-area: 4 / 1 / 4 / 13;
  background-color: #F4F7FC;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  background-color: #11447B;
  border-radius: 10px 10px 0px 0px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #11447B;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #145396;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #145396;
  border-bottom: 4px solid #ECA632;
  display: inline-block;
  /*line-height: 0.85;*/
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 5px solid #145396;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

/* ------------------------- TIMELINE -----------------------*/

.bill_sec3 {
  grid-area: 5 / 1 / 5 / 13;
  background-color: #d8e5fd;
}

/* ------------------------- BILL PROCESS -------------------*/

.bill_sec4 {
  grid-area: 6 / 1 / 6 / 13;
  background-color: #F4F7FC;
}

/* ------------------------- BILL HISTORY -------------------*/

.bill_sec5 {
  grid-area: 7 / 1 / 7 / 13;
  background-color: #d8e5fd;
}

/* SCROLLING TEST */

@media (min-width: 768px) and (max-width: 1024px){
  .failures_sm {
    display:none;
  }
}

@media (max-width: 767px) {
  :root {
    --gutter: 20px;
  }

  .failures_sm {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
    grid-area: 2 / 2;
  }

  .failures_sm > * {
    grid-column: 2 / -2;
  }

  .failures_sm > .full {
    grid-column: 1 / -1;
  }

  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);

    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  }

  .hs:before,
  .hs:after {
    content: '';
    width: 10px;
  }


  /* Demo styles */

  html,
  body {
    height: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  .failures_sm {
    grid-area: 3 / 2;
    width: 375px;
    height: 30rem;
    /*background: #DBD0BC;*/
    overflow-y: scroll;
  }

  .hs > li,
  .item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
  }



  .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}




/*----------------------------------------------------------------------------*/
/* ----------------------------- LEGISLATOR PAGE -----------------------------*/
/*----------------------------------------------------------------------------*/

/* -- LEGISTLATOR PAGE // defining the grid areas for responsiveness--*/
.wrapper {
  display:grid;
  grid-gap: 2rem;
  grid-template-areas:
    "header"
    "brdcrum"
    "box-a"
    "box-b"
    "box-c"
    "bottom-container"
}

@media (min-width: 600px) {
  .wrapper {
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
      "header header"
      "brdcrum brdcrum"
      "box-a box-a"
      "box-b box-c"
      "bottom-container bottom-container";
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 2fr 2.5fr 2.5fr;
    grid-template-areas:
      "header header header"
      "brdcrum brdcrum ."
      "box-a box-b box-c"
      "bottom-container bottom-container bottom-container ";
  }
}

/* -- LEGISTLATOR PAGE // defining the grid area names--*/

.main_header {
  grid-area: header;
}

.leg_breadcrumb {
  grid-area: brdcrum;
}

.leg_top-container {
  grid-area: top-container;
}

.leg_bottom-container {
  grid-area: bottom-container;
}

.top-box-a {
  grid-area: box-a;
  text-align: center;
  padding: 2rem;
}

.top-box-b {
  grid-area: box-b;
  padding: 4rem 2rem 4rem 2rem;
}

.top-box-c {
  grid-area: box-c;
  padding: 4rem 2rem 4rem 2rem;
}

/* -- LEGISTLATOR PAGE // breadcrumb--*/

/* Style the list */
ul.leg_breadcrumb {
  padding: 10px 16px;
  list-style: none;
  /*background-color: #eee;*/
}

/* Display list items side by side */
ul.leg_breadcrumb li {
  display: inline;
  font-size: 1.68rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.leg_breadcrumb li+li:before {
  padding: 8px;
  /*color: #F4F7FC;*/
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.leg_breadcrumb li a {
  /*color: #F4F7FC;*/
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.leg_breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* -- LEGISTLATOR PAGE // defining the grid area names--*/

/* -- LEGISTLATOR PAGE // styling the boxes on the page--*/
.top-box {
  display: grid;
  background-color: var(--primary);
  justify-content: center;
  /*align-self: center;*/
  /*padding: 2rem;*/
  border-radius: 1rem;
}


.icon {
  margin: auto;
  color: var(--light);
}

.top-box .icons {
  display: flex;
}

.leg_bottom-container {
  background-color: #11447B;
  border-radius: 1rem;
  /*padding: 2rem;*/
}

.leg_pledge {
  padding-bottom: .1rem;
  border-bottom: .3rem solid #56CCF2;
  margin: 0;
}

.leg_committ {
  padding-bottom: .1rem;
  border-bottom: .3rem solid #56CCF2;
  margin: 0;
}

/* -- LEGISTLATOR PAGE // styling the dark rect within box b--*/

.rect6 {
  display: flex;
  background-color: #11447B;
  margin: 1rem 0rem 1rem 0rem;
  padding: 1rem;
  border-radius: 1rem;
  align-self:center;
}

/* -- LEGISTLATOR PAGE // styling the dark rect within box c--*/

.rect7 {
  /*display: flex;*/
  background-color: #11447B;
  margin: 1rem 0rem 1rem 0rem;
  padding: 1rem;
  border-radius: 1rem;
  align-self:center;
}

/* -------------- LEGISTLATOR PAGE // format for bottom container-------------*/


.red_x {
  padding: 1rem;
  height: 3rem;
}

.green_check {
  padding: 1rem;
  height: 3rem;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*border-bottom: 1px solid black;*/
  background-color: #145396;
}

.tab {
  cursor: pointer;
  padding: 10px;
  background-color: #145396;
  width: 33%;
  text-align: center;
}

.tab.active {
  /*background-color: #CCC;*/
  border-bottom: .3rem solid #56CCF2;
  color: var(--light);
}

.tab:hover {
  /*background-color: #AAA;*/
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
  padding: 2rem;
}

@media (min-width: 700px) {
  .tab-content {
    padding: 5rem;
  }
}

.btn_history {
  margin: 0 auto;
  max-width: 30rem;
}

/* --- LEGISTLATOR PAGE // format for "yes & no vote history" lines -------*/
.item_1 {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem 0rem 1rem 3rem;
}

/* --- LEGISLATOR PAGE // format for "rep says quotes"--*/
.quote_text {
  max-width: 60%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
