_site
.DS_Store
.env
node_modules
js/bundle.js
.sass-cache
.ts-dist

# Local Netlify folder
.netlify

# Compiled TS script used for build
admin/build-config.js

# Netlify CMS config built during built
config.yml
