{% assign leg = include.leg %}

<div id="contact-{{leg.aom_id}}-modal"></div>
<script>
  window.addEventListener("DOMContentLoaded", function() {
    data = {
      txt: "{{include.txt}}",
      leg: {
        aom_id: "{{leg.aom_id}}",
        first_name: "{{leg.first_name}}",
        last_name: "{{leg.last_name}}",
        district: "{{leg.district}}",
        phone: "{{leg.phone}}",
        email: "{{leg.email}}",
        facebook: "{{leg.facebook}}",
        twitter: "{{leg.twitter}}",
      },
      scripts: {{site.data.pledge_scripts | jsonify}},
    };
    AOM.renderModal("contact-{{include.leg.aom_id}}-modal", data);
  });
</script>

