{% assign bill = include.bill %}

<div id="{{bill.id}}--history"></div>
<script>
  window.addEventListener("DOMContentLoaded", function() {
    var data = [
  {% for event_ in bill.history%}
    {% if event_.bill_event %}
      {% assign event = site.data.cache.bill_events_by_id[event_.bill_event] %}
    {% else %}
      {% assign event = event_ %}
    {% endif %}
    {
      date: "{{event.date}}",
      description: {{ event.description | jsonify }},
      type: {{ event.type | jsonify }},
    },
  {% endfor %}
  ];
    AOM.renderHistory("{{bill.id}}--history", data);
  });
</script>
