{% assign bill_timeline = include %}
<div id="bill-timeline"></div>
<script>
    (()=>{
        const globalFilingDate = "2019-01-02";
        const globalSessionEndDate = "2019-12-31";
        const data = {
            filingDate: globalFilingDate,
            sessionEndDate: globalSessionEndDate,
            filingTitle: "{{bill_timeline.timeline.filing_title}}",
            events: [
                {% for event in bill_timeline.timeline.events %}
                {
                    text: "{{ event.description }}",
                    date: "{{ event.date }}" 
                },
                {% endfor %}
            ],
        };

        window.addEventListener("DOMContentLoaded", function() {
            AOM.renderBillTimeline("bill-timeline", data);
        });
    })();
</script>
