{% assign bill_timeline = include %}
<div id="bill-timeline"></div>
<script>
    (()=>{
        const globalFilingDate = "2021-01-06";
        const globalSessionEndDate = "2022-12-31";
        const data = {
            filingDate: globalFilingDate,
            sessionEndDate: globalSessionEndDate,
            events: [
                {% for event in bill_timeline.timeline %}
                {
                    text: "{{ event.description }}",
                    date: "{{ event.date }}"
                },
                {% endfor %}
            ],
        };

        window.addEventListener("DOMContentLoaded", function() {
            AOM.renderBillTimeline("bill-timeline", data);
        });
    })();
</script>
