<div id="find-my-reps"></div>
<script>
    var all_legs = {
    {% for leg in site.legislators %}
      {% assign short_id = leg.id | replace: "/legislators/", "" %}
      "{{short_id}}": {
        party: "{{leg.party}}",
        first_name: "{{leg.first_name}}",
        last_name: "{{leg.last_name}}",
        img: "{{ leg.square_picture }}",
      },
    {% endfor %}
  };

  var data = {
    legislatorInfo: all_legs
  };

  window.addEventListener("DOMContentLoaded", function() {
    AOM.renderFindMyReps("find-my-reps", data);
  });

</script>
