{% if include.title %}
  {% assign title = include.title %}
{% elsif include.text %}
  {% assign text = include.text %}
{% else %}
  {% assign title = 'legislator search' %}
{% endif %}


<div id="find-my-reps"></div>
<script>
  window.addEventListener("DOMContentLoaded", function() {
  var data = {
    title: "{{title}}",
    text: "{{text}}",
    theme: "{{include.theme}}",
    {% if include.bill %}
    bill: {
      article: "{{include.bill.article}}",
      title: "{{include.bill.title}}",
      co_sponsors: {{include.bill.co_sponsors | jsonify}}
    },
    {% endif %}
    showResultIfEmpty: {% if include.showResultsIfEmpty == "true" %}true{% else %}false{% endif %},
    scripts: {% if include.bill %}{{site.data.default_bill_scripts | jsonify}}{% else %}{{site.data.pledge_scripts | jsonify}}{% endif %},
  };

    AOM.renderFindMyReps("find-my-reps", data);
  });
</script>
