<footer id="footer-container">
    <div id="footer">
        <ul class="nav-ul footer-left-block">
            {% for link in site.footer %}
                <li><a href="{{link.page}}">{{link.title}}</a></li>
            {% endfor %}
        </ul>
        <div class="footer-center-block">
            <div>
                <a href="https://www.facebook.com/act.on.massachusetts" class="social-media-link" target="_blank"><img src="/img/fb.webp"/></a>
                <a href="https://twitter.com/act_on_mass" class="social-media-link" target="_blank"><img src="/img/twitter.webp"/></a>
            </div>
            <p>Copyright © 2019, Act on Mass, Inc.</p>
        </div>
        <div class="footer-right-block"></div>
    </div>
</footer>
