<footer class="main_footer">
  <div class="footer_top">
    <h3 class="footer_txt fBold">Act on Mass is a non-profit organization that doesn't take money from corporations. Please support our mission.</h3>
    <a class="btn btn_footer fLight fRoboto fBold fUppercase" href="{{site.data.general_settings.donate_button_url}}">
      donate
    </a>
  </div>
  <div class="footer_bottom">
    {% for link in site.data.general_settings.footer %}
        <h4 class="fRoboto fUppercase fRegular"><a href="{{link.href}}">{{link.title}}</a></h4>
    {% endfor %}
  </div>
</footer>
