<div id="header">
    <div id="logo-block">
        <img id="logo" src="img/logo.webp"></img>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">The pledge</a></li>
            <li><a href="/">About us</a></li>
            <li><a href="/">Issues</a></li>
            <li><a href="/">Latest updates</a></li>
        </ul>
    </nav>
    <div id="header-right-block">
        <a href="/" class="donate-button">Donate</a>
        <img src="img/fb.webp"/>
        <img src="img/twitter.webp"/>
    </div>
</div>
