<header id="header">
    <div id="logo-block">
        <img id="logo" src="/img/logo.webp"/>
    </div>
    <nav>
        <ul class="nav-ul">
            {% for link in site.menu %}
                <li><a href="{{link.page}}">{{link.title}}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <div id="header-right-block">
        {% include donate-button.html %}
        <a href="https://www.facebook.com/act.on.massachusetts" class="social-media-link" target="_blank"><img src="/img/fb.webp"/></a>
        <a href="https://twitter.com/act_on_mass" class="social-media-link" target="_blank"><img src="/img/twitter.webp"/></a>
    </div>
</header>
