{% assign rep = include.rep %}
{% assign status = include.status %}
{% assign size = include.size %}

<div class="leg_circ {{size}}">
  <div class="cbox">
    <div class="image-with-check">
      <img class="leg_circ_img {{status}}" src="{{rep.square_picture}}" alt="{{rep.first_name}} {{rep.last_name}}" />
      {% if status == 'ok' %}
        <img class="leg_circ_check" src="/img/green_check.png" alt="green check" />
      {% endif %}
      {% if status == 'ko' %}
        <img class="leg_circ_x" src="/img/red_x.png" alt="red x">
      {% endif %}
    </div>
  </div>
  <p class="fRoboto fLight">{{rep.first_name}} {{rep.last_name}} ({{rep.party}})</p>
  <h5 class="fRoboto fLight">{{rep.hometown}}</h5>
</div>
