{% if include.title %}
  {% assign title = include.title %}
{% elsif include.text %}
  {% assign text = include.text %}
{% else %}
  {% assign title = 'legislator search' %}
{% endif %}


<div id="find-my-reps"></div>
<script>
  window.addEventListener("DOMContentLoaded", function() {
    var all_legs = {
    {% for leg in site.legislators %}
      {% assign district = site.data.cache.districts_by_id[leg.district].name %}
      {% if leg.ocd_id%}
      "{{leg.ocd_id}}": {
        party: "{{leg.party}}",
        first_name: "{{leg.first_name}}",
        last_name: "{{leg.last_name}}",
        href: "{{leg.id}}",
        district: "{{district}}",
        img: "{{ leg.square_picture }}",
        phone: "{{leg.phone}}",
        email: "{{leg.email}}",
        facebook: "{{leg.facebook}}",
        twitter: "{{leg.twitter}}",
        pledge: {{ leg.pledge }},
        {% if include.bill %}
        sponsored: {% if bill.co_sponsors contains leg.uid %}true{% else %}false{% endif %},
        {% endif %}
      },
      {% endif %}
    {% endfor %}
  };

  var data = {
    legislatorsInfo: all_legs,
    title: "{{title}}",
    text: "{{text}}",
    theme: "{{include.theme}}",
    mode: "{% if include.bill %}bill{% else %}pledge{% endif %}",
    showResultIfEmpty: {% if include.showResultsIfEmpty == "true" %}true{% else %}false{% endif %}
  };

    AOM.renderFindMyReps("find-my-reps", data);
  });
</script>
