{% if include.title %}
  {% assign title = include.title %}
{% elsif include.text %}
  {% assign text = include.text %}
{% else %}
  {% assign title = 'legislator search' %}
{% endif %}


<div class="search {{include.class}}">
  {% if title %}
    <h1 class="search_title fRaleway fExbold">{{ title }}</h1>
  {% endif %}
  {% if text %}
    <h3 class="billpg_txt fRaleway fExbold">{{include.text}}</h3>
  {% endif %}
  <div class="search_field">
    <form action="/search_result.html#results">
      <div class="entry_2">
        <label class="search_text fRoboto fLight" for="address">Street Address</label>
        <input class="search_rect" type="text" id="address" name"address">
      </div>
      <div class="entry_3">
        <label class="search_text fRoboto fLight" for="city">City</label>
        <input class="search_rect" type="text" id="city" name"city">
      </div>
      <input type="submit" class="btn btn_search" value="Submit" />
    </form>
  </div>
</div>
