{% if include.title %}
  {% assign title = include.title %}
{% elsif include.text %}
  {% assign text = include.text %}
{% else %}
  {% assign title = 'legislator search' %}
{% endif %}


<div class="legislator-search">
  {% if title %}
    <h1 class="fRaleway fExbold">{{ title }}</h1>
  {% endif %}
  {% if text %}
    <h3 class="text fRaleway fExbold">{{include.text}}</h3>
  {% endif %}
    <form class="form-block" action="/search_result.html#results">
      <div class="entry_2">
        <label class="search_text fRoboto fLight" for="address">Street Address</label>
        <input class="search_rect" type="text" id="address" name="address">
      </div>
      <div class="entry_3">
        <label class="search_text fRoboto fLight" for="city">City</label>
        <input class="search_rect" type="text" id="city" name="city">
      </div>
      <div class="cbox btn-container">
        <input type="submit" class="btn btn_search" value="Submit" />
      </div>
    </form>
</div>
