{% assign map = include %}
<div class="map-block" id="unique-id"></div>
<script>
  var data = [
    {% for leg in site.legislators %}
      {% assign district = site.data.cache.districts_by_id[leg.district] %}
      {% assign short_id = leg.id | replace: "/legislators/", "" %}
      {
        href: "{{leg.id}}",
        name: "{{leg.first_name}} {{leg.last_name}}",
        party: "{{leg.party}}",
        img: "{{ leg.square_picture }}",
        lat: {{ district.lat }},
        lng: {{ district.lng }},
        style: {% if map.greens contains short_id %}"green"{% else %}"red"{% endif %},
        chamber: "{{leg.district | split: "-" | first }}",
      },
    {% endfor %}
  ];
  window.addEventListener("DOMContentLoaded", function() {
    AOM.renderMap("unique-id", data);
  });
</script>
