section {
  padding: 5rem 0;
  @media (min-width: 700px) {
    padding: 10rem 0;
  }
}

.centered-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: -2rem;
  margin-bottom: -2rem;

  @media (min-width: 700px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > * {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: 700px) {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
}

.two-blocks {
  display: grid;
  grid-template-areas:
    "block_1"
    "block_2";

  @media (min-width: 700px) {
    grid-template-areas: "block_1 block_2";
  }

  & > div:nth-child(1) {
    grid-area: block_1;
  }
  & > div:nth-child(2) {
    grid-area: block_2;
  }

  &.rev {
    @media (min-width: 700px) {
      grid-template-areas: "block_2 block_1";
    }
  }
}

.w1400 {
  width: min(1400px, 90%);
}

.dark {
  background-color: var(--primary);
  color: var(--light);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  label {
    color: inherit;
  }
}

.light-blue {
  background-color: #d8e5fd;
}

.medium-blue {
  background-color: #afcbff;
}
