section {
  @media (min-width: 700px) {
    padding: 10rem 0;
  }
}

.centered-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.w1400 {
  max-width: 1400px;
  min-width: min(1400px, 90%);
}

.dark {
  background-color: var(--primary);
  color: var(--light);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: inherit;
  }
}

.light-blue {
  background-color: #d8e5fd;
}

.medium-blue {
  background-color: #afcbff;
}
