.centered-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.dark {
  background-color: var(--primary);
  color: var(--light);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: inherit;
  }
}

.light-blue {
  background-color: #d8e5fd;
}
