#about_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  grid-template-areas:
    "top_box_a"
    "top_box_b"
    "top_box_c"
    "bot_container"
    "footer";

  @media (min-width: 700px) {
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas:
      "top_box_a top_box_b top_box_c "
      "bot_container bot_container bot_container"
      "footer footer footer";
  }

  .about_top_background {
    background-color: var(--primary);
    grid-area: 1 / 1 / 4 / 2;
    z-index: -1;

    @media (min-width: 700px) {
      grid-area: 1 / 1 / 2 / 4;
    }
  }

  .about_top {
    padding-top: 10rem;
    justify-self: center;
    max-width: 20rem;

    @media (min-width: 700px) {
      padding: 15rem 0rem 10rem 0rem !important; // overrides mobile padding
    }
  }

  .top_box_1 {
    grid-area: top_box_a;
    padding: 6rem 0rem 0rem 2rem;

    @media (min-width: 700px) {
      justify-self: right;
    }
  }

  .top_box_2 {
    grid-area: top_box_b;
    padding: 2rem 0rem 0rem 2rem;

    @media (min-width: 700px) {
      justify-self: center;
    }
  }

  .top_box_3 {
    grid-area: top_box_c;
    padding: 2rem 0rem 3rem 2rem;

    @media (min-width: 700px) {
      justify-self: left;
    }
  }

  .who_title {
    grid-area: 4 / 1;
    align-self: start;
    padding: 2rem;

    @media (min-width: 700px) {
      grid-area: 2 / 1 / 3 / 3;
      align-self: start;
      padding: 5rem 20rem;
    }
  }

  #bot_container {
    grid-area: bot_container;
    display: grid;
    grid-row-gap: 2rem;
    padding: 7rem 0rem 3rem 0rem;

    @media (min-width: 700px) {
      grid-column-gap: 5rem;
      padding: 15rem 20rem;
    }

    .person {
      max-width: 20rem;
      display: grid;
      grid-gap: 1rem;
      justify-self: center;
      grid-template-rows: auto auto 1fr;
    }

    .person img {
      border: #56ccf2 solid 4px;
    }

    .person:first-child {
      grid-area: 1 / 1;
      @media (min-width: 700px) {
        grid-area: 1 / 1;
      }
    }

    .person:nth-child(2) {
      grid-area: 2 / 1;
      @media (min-width: 700px) {
        grid-area: 1 / 2;
      }
    }

    .person:nth-child(3) {
      grid-area: 3 / 1;
      @media (min-width: 700px) {
        grid-area: 1 / 3;
      }
    }

    .person:nth-child(4) {
      grid-area: 4 / 1;
      @media (min-width: 700px) {
        grid-area: 1 / 4;
      }
    }
  }

  .about_title {
    grid-area: 1 / 1;
    padding: 2rem;

    @media (min-width: 700px) {
      grid-area: 1 / 1 / 2 / 3;
      align-self: start;
      margin: 5rem 20rem;
    }
  }

  .about_icon {
    color: #56ccf2;
    margin: auto;
  }

  .about_rect1 {
    height: 0.5rem;
    width: 10rem;
    background-color: #56ccf2;
    margin-bottom: 1rem;
  }
}
