.bill-page {
  .headline {
    display: grid;
    grid-template-areas:
      "billpg_hero_a"
      "billpg_hero_b";

    @media (min-width: 700px) {
      grid-template-areas: "billpg_hero_b billpg_hero_a";
    }

    .billpg_hero_a {
      grid-area: billpg_hero_a;
      max-width: 30rem;
      justify-self: center;

      @media (min-width: 700px) {
        padding: 5rem 20rem 5rem 0rem;
        max-width: 72rem;
        justify-self: inherit;
      }
    }

    .billpg_hero_b {
      grid-area: billpg_hero_b;
      padding: 10rem 20rem 10rem 5rem;
      align-self: center;
      max-width: 36rem;

      @media (min-width: 700px) {
        grid-area: billpg_hero_b;
        padding: 5rem 0rem 10rem 20rem;
        max-width: 50rem;
        box-sizing: unset;
      }

      .billpg_title {
        grid-area: 3 / 1 / 3 / 3;
        padding: 0;
        justify-self: center;
        text-transform: uppercase;
        z-index: 1;
      }

      li {
        margin: 0rem 0rem 2rem 0rem;
      }

      ul {
        max-width: 40rem;
      }
    }
  }

  .btn {
    margin-bottom: 3rem;
    max-width: 30rem;
  }
}

/*--------------------- BILL PAGE / SEARCH RESULTS------------------------*/

.leg_img {
  height: 15rem;
}

.billpg_result_rep {
  padding-top: 10rem;
  justify-self: center;
}

.billpg_result_sen {
  padding-top: 10rem;
  justify-self: center;
}

.fa-check-circle {
  margin: 0rem 1rem 0rem 0rem;
  color: #5fad41;
}

.fa-times-circle {
  margin: 0rem 1rem 0rem 0rem;
  color: #780116;
}

.bill-page .decision-makers {
  padding-bottom: 10rem;
  h2,
  h3 {
    text-align: center;
  }

  .billpg_decision_header {
    padding: 5rem 0rem 1rem 0rem;
  }

  .billpg_decision_header2 {
    padding: 3rem 0rem 1rem 20rem;
  }

  .rect_underline1 {
    height: 0.5rem;
    width: 80%;
    background-color: #56ccf2;
    margin-top: 2rem;
  }

  .committee-block {
    display: grid;

    grid-template-areas:
      "senators"
      "reps";

    @media (min-width: 700px) {
      grid-template-areas: "senators reps";
    }

    h4 {
      margin-bottom: 1.5rem;
    }

    .senators,
    .reps {
      padding-top: 3rem;
      padding-bottom: 5rem;

      .chairs {
        justify-content: space-evenly;
        margin-bottom: 4rem;

        p {
          text-align: center;
        }
      }

      .members {
        display: grid;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
      }
    }

    .senators {
      grid-area: senators;
      padding-right: 10rem;
      padding-left: 20rem;

      .members {
        grid-template-columns: auto auto auto;
      }
    }

    .reps {
      grid-area: reps;
      padding-left: 0rem;
      padding-right: 20rem;

      .members {
        grid-template-columns: auto auto auto auto;
      }
    }
  }
}

/*--------------------- BILL PAGE / MISC ------------------------*/

.btn_inactive {
  background-color: #bdbdbd;
  color: #4f4f4f;
}

.btn_inactive:hover {
  background-color: #bdbdbd;
}

/*----------- BILL PAGE / DECISION MAKERS (senators) ------------------------*/

/*----------- BILL PAGE / CO-SPONSORSHIP MAP ------------------------*/

section.map {
  margin-bottom: 10rem;

  .map-block {
    border-radius: 1rem;
    margin: 0rem 20rem 5rem 20rem;

    .tab a {
      display: block;
      width: 100%;
      text-decoration: none;
    }

    .map-container {
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 7.5rem;
      padding-right: 7.5rem;
    }

    .leaflet-bar a {
      color: black;
    }
  }
}

.rep_map {
  max-width: 90rem;
}

.billpg_map_header {
  padding: 5rem 20rem;
}

/*----------- BILL PAGE / TIMELINE ------------------------*/

.billpg_timeln {
  grid-area: billpg_timeln;
  /*display: grid;*/
}

.billpg_timeln_header {
  grid-area: 7 / 1 / 7 / 3;
  padding: 10rem 20rem 0rem 20rem;
}

.billpg_timeln_background {
  background-color: #d8e5fd;
  z-index: -1;
  grid-area: 7 / 1 / 7 / 3;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
  padding: 5rem 20rem 15rem 20rem;
}

.timeln_rect {
  width: 80%;
  height: 0.5rem;
  background-color: var(--dark);
  justify-self: center;
  align-self: center;
  grid-area: 2 / 1 / 2 / 7;
}

.timeln_dot1 {
  border-radius: 50%;
  background-color: #eca632;
  height: 2rem;
  width: 2rem;
  justify-self: right;
  margin-right: 5rem;
  grid-area: 2 / 1;
  align-self: center;
  animation-duration: 3s;
  animation-delay: 1s;
}

.timeln_dot2 {
  border-radius: 50%;
  background-color: #eca632;
  height: 2rem;
  width: 2rem;
  justify-self: left;
  margin-right: 2rem;
  grid-area: 2 / 4;
  align-self: center;
  animation-duration: 2s;
  animation-delay: 2s;
}

.timeln_txt {
  grid-area: 1 / 2 / 1 / 3;
  justify-self: center;
  animation-duration: 2s;
  animation-delay: 1s;
}

.timeln_dot5 {
  border-radius: 50%;
  background-color: #d8e5fd;
  height: 4rem;
  width: 4rem;
  justify-self: left;
  /*margin-right: 2rem;*/
  grid-area: 2 / 5;
  border: solid 1rem #eca632;
  animation-duration: 3s;
  animation-delay: 2s;
}
/*
.timeln_dot3 {
  border-radius: 50%;
  background-color: #ECA632;
  height: 2rem;
  width: 2rem;
  justify-self: left;
  margin-left: 1.5rem;
  grid-area: 1 / 5;
  z-index:1;
  align-self: center;
}*/

.timeln_dot4 {
  border-radius: 50%;
  background-color: #780116;
  height: 2rem;
  width: 2rem;
  justify-self: left;
  margin-left: 5rem;
  grid-area: 2 / 6;
  align-self: center;
  animation-duration: 3s;
  animation-delay: 4s;
}

.timeln_bill1 {
  grid-area: 3 / 1;
  justify-self: left;
  margin-left: 9rem;
}

.timeln_bill2 {
  grid-area: 3 / 4;
  justify-self: left;
}

.timeln_bill3 {
  grid-area: 3 / 5;
  justify-self: right;
}

.timeln_bill4 {
  grid-area: 3 / 6;
  justify-self: right;
}

.marker {
  color: var(--primary);
  grid-area: 1 / 4;
  animation-duration: 3s;
}

/*----------- BILL PAGE / FLOW CHART ------------------------*/

.billpg_flow {
  grid-area: billpg_flow;
  min-width: 1200px;
  margin: 0;
  padding: 50px;
  color: var(--dark);
  font: 16px Roboto, sans-serif;
  /*background: #2e6ba7;*/
  /*-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  padding: 10rem 20rem 10rem 20rem;
  display: grid;
}

.fa-map-marker-alt {
  color: var(--primary);
  margin: 0rem 1rem 0rem 0rem;
}

.billpg_flow_header {
  padding: 0rem 0rem 5rem 0rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 body {
	 min-width: 1200px;
	 margin: 0;
	 padding: 50px;
	 color: #eee9dc;
	 font: 16px Verdana, sans-serif;
	 background: #2e6ba7;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
}*/
#wrapper {
  position: relative;
  margin: 0rem 0rem 0rem 10rem;
}
.branch {
  position: relative;
  margin-left: 230px;
}
.branch:before {
  content: "";
  width: 33px;
  border-top: 2px solid var(--dark);
  position: absolute;
  left: -80px;
  top: 50%;
  margin-top: 1px;
}
.entry {
  position: relative;
  min-height: 70px;
  /*$entry-min-height*/
}
.entry:before {
  content: "";
  height: 100%;
  border-left: 2px solid var(--dark);
  position: absolute;
  left: -50px;
}
.entry:after {
  content: "";
  width: 50px;
  border-top: 2px solid var(--dark);
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: 1px;
}
.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 10px 0 0 0;
}
.entry:first-child:after {
  height: 10px;
  border-radius: 10px 0 0 0;
}
.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
}
.entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 2px solid var(--dark);
  border-radius: 0 0 0 10px;
  margin-top: -8px;
}
.entry.sole:before {
  display: none;
}
.entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 1px;
  border-radius: 0;
}
.label {
  display: block;
  min-width: 150px;
  padding: 10px 10px;
  line-height: 20px;
  text-align: center;
  /*border: 2px solid var(--dark);*/
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  background: #eca632;
}

/*----------- BILL PAGE / BILL HISTORY ------------------------*/

.billpg_hist {
  grid-area: billpg_hist;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(14, 1fr);
  padding: 10rem 20rem 10rem 20rem;
}

.billpg_hist_background {
  background-color: #afcbff;
  z-index: -1;
  grid-area: 9 / 1 / 10 / 3;
}

.hist_header {
  grid-area: 1 / 1 / 1 / 4;
  justify-self: left;
  padding: 5rem 0rem 10rem 0rem;
}

.hist_line {
  width: 0.5rem;
  height: 300rem;
  background-color: #eca632;
  justify-self: center;
  grid-area: 2 / 2 / 16 / 2;
}

.hist_rect_sm {
  width: 10rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  justify-self: center;
  box-sizing: unset;
}

.hist_rect_lg {
  height: 3rem;
  width: 20rem;
  background-color: var(--primary);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  justify-self: center;
  box-sizing: unset;
}

.billpg_hist .rect1 {
  grid-area: 2 / 2;
}

.billpg_hist .rect2 {
  grid-area: 4 / 2;
}

.billpg_hist .rect3 {
  grid-area: 6 / 2;
}

.billpg_hist .rect4 {
  grid-area: 8 / 2;
}

.billpg_hist .rect5 {
  grid-area: 10 / 2;
}

.billpg_hist .rect6 {
  grid-area: 12 / 2;
}

.billpg_hist .rect7 {
  grid-area: 14 / 2;
}

.billpg_hist .rect8 {
  grid-area: 16 / 2;
}

.bill_hist_circ {
  height: 3rem;
  width: 3rem;
  background-color: #eca632;
  border-radius: 50%;
}

.billpg_hist .cir1 {
  grid-area: 2 / 2 / 3 / 2;
  align-self: center;
  justify-self: center;
}

.billpg_hist .txt1 {
  grid-area: 2 / 3;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 1rem;
}

.billpg_hist .cir2 {
  grid-area: 3 / 2 / 3 / 3;
  justify-self: center;
}

.billpg_hist .txt2 {
  grid-area: 3 / 3;
  justify-self: center;
  text-align: left;
  padding: 1rem;
}

.billpg_hist .cir3 {
  grid-area: 5 / 2;
  justify-self: center;
}

.billpg_hist .txt3 {
  grid-area: 5 / 3;
  justify-self: center;
  text-align: left;
  padding: 1rem;
  background-color: #780116;
}

.fa-skull-crossbones {
  color: #56ccf2;
  justify-self: right;
  align-self: center;
  grid-area: 1 / 1 / 3 / 3;
}

.billpg_hist .cir4 {
  grid-area: 6 / 2;
  align-self: center;
  justify-self: center;
}

.billpg_hist .txt4 {
  grid-area: 6 / 3;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 1rem;
}

.billpg_hist .cir5 {
  grid-area: 7 / 2;
  align-self: center;
  justify-self: center;
}

.billpg_hist .txt5 {
  grid-area: 7 / 3;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 1rem;
}

.billpg_hist .cir6 {
  grid-area: 9 / 2;
  align-self: center;
  justify-self: center;
}

.billpg_hist .txt6 {
  grid-area: 9 / 3;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 1rem;
  background-color: #780116;
}

.billpg_hist .cir7 {
  grid-area: 10 / 2;
  align-self: center;
  justify-self: center;
}

.billpg_hist .txt7 {
  grid-area: 10 / 3;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 1rem;
}

.billpg_hist .cir8 {
  grid-area: 11 / 2;
  align-self: center;
  justify-self: center;
}

.billpg_hist .txt8 {
  grid-area: 11 / 3;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 1rem;
}

.billpg_hist .cir9 {
  grid-area: 13 / 2;
  align-self: center;
  justify-self: center;
}

.billpg_hist .txt9 {
  grid-area: 13 / 3;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 1rem;
  background-color: #780116;
}

.billpg_hist .cir10 {
  grid-area: 14 / 2;
  align-self: start;
  justify-self: center;
}

.billpg_hist .txt10 {
  grid-area: 14 / 3;
  align-self: start;
  justify-self: center;
  text-align: left;
  padding: 1rem;
  height: 14rem;
}

.billpg_hist .cir11 {
  grid-area: 14 / 2;
  align-self: end;
  justify-self: center;
}

.billpg_hist .txt11 {
  grid-area: 14 / 3;
  align-self: end;
  justify-self: center;
  text-align: left;
  padding: 1rem;
}

.billpg_hist .cir12 {
  grid-area: 15 / 2;
  align-self: center;
  justify-self: center;
}

.billpg_hist .txt12 {
  grid-area: 15 / 3;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 1rem;
}

.bill_hist_txt {
  height: 7rem;
  width: 36rem;
  background-color: var(--light);
  border-radius: 1rem;
  display: grid;
}

.sent_txt {
  grid-area: 1 / 1 / 1 / 3;
}

.sent_txt2 {
  grid-area: 2 / 1 / 2 / 3;
}
