.bills-page {
  h1 {
    text-align: center;
    color: #fefbf8;
    margin-bottom: 3rem;
  }

  .list-bills {
    justify-self: center;
    display: grid;
    padding: 0 3rem;
    text-align: center;

    @media (min-width: 700px) {
      padding: 0 15rem;
      justify-self: inherit;
      text-align: inherit;
    }

    .issue-title {
      margin: 1.5rem 0;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .bill {
      margin: 1rem 0;

      a:hover {
        color: #56ccf2;
      }
    }
  }
}
