.default-page {
  .w1200 {
    background-color: #f4f7fc;
    padding: 3rem 0;
  }

  .content {
    p {
      margin-top: 1em;
      margin-bottom: 1em;
      line-height: 1.8em;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
    }

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    h1,
    h2,
    h3 {
      color: #11447b;
    }
  }
}
