.issue-page {
  .headline {
    display: grid;
    grid-template-areas:
      "issues_hero_a"
      "issues_hero_c";

    @media (min-width: 700px) {
      grid-template-areas: "issues_hero_c issues_hero_a ";
    }

    .issues_hero_c {
      grid-area: issues_hero_c;
      padding: 0rem 0rem 5rem 0rem;
      max-width: 30rem;
      justify-self: center;

      @media (min-width: 700px) {
        grid-area: issues_hero_c;
        padding: 15rem 0rem 5rem 0rem;
        box-sizing: unset;
        max-width: 50rem;
      }

      .hero_title {
        justify-self: left;
        text-transform: uppercase;
        z-index: 1;
        margin-bottom: 2rem;
        font-size: 2rem;

        @media (min-width: 700px) {
          padding-left: 10rem;
          font-size: 5rem;
        }
      }

      .hero_quote_txt {
        align-self: start;
        text-align: left;
        justify-self: center;
        font-size: 2.5rem;

        @media (min-width: 700px) {
          padding-left: 15rem;
          justify-self: right;
          font-size: 3rem;
        }
      }
    }

    .issues_hero_a {
      grid-area: issues_hero_a;
      padding: 7rem 0rem 0rem 0rem;
      max-width: 30rem;
      justify-self: center;

      @media (min-width: 700px) {
        padding: 10rem 20rem 10rem 9rem;
        max-width: 72rem;
        justify-self: inherit;
      }
    }
  }

  .bills {
    .issues_bill_header {
      padding: 3rem 0rem;
      max-width: 33rem;

      @media (min-width: 700px) {
        padding: 10rem 20rem;
        max-width: none;
      }
    }

    .bill-container {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-row-gap: 5rem;
      padding-left: 20rem;
      padding-right: 20rem;
      padding-bottom: 10rem;

      .bill {
        justify-self: center;
        justify-content: space-between;

        .issues_bill_title {
          padding: 1rem 0rem 1rem 0rem;
        }

        .rect_underline {
          height: 0.5rem;
          width: 15rem;
          background-color: #56ccf2;
        }

        .issues_bills_bullets {
          padding: 0;
        }

        ul.issues_bills_bullets li {
          padding: 0.5rem 0rem 0.5rem 0rem;
          max-width: 25rem;
        }

        .bill-btn-container {
          padding-top: 1rem;

          a.billbtn {
            text-decoration: none;
            color: var(--dark);
          }
        }
      }
    }
  }
}

/*--------- ISSUES PG / FAILURES (SECTION 3) -------------------*/

.issues_fail_a {
  grid-area: issues_fail_a;
  padding: 15rem 0rem 3rem 2rem;
  max-width: 25rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-self: left;
  box-sizing: unset;
  grid-template-rows: auto 1fr;
}

@media (min-width: 700px) {
  .issues_fail_a {
    padding: 25rem 0rem 10rem 20rem;
    justify-self: center;
  }
}

.issues_fail_b {
  grid-area: issues_fail_b;
  padding: 2rem 0rem 3rem 2rem;
  max-width: 25rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-self: left;
  box-sizing: unset;
  grid-template-rows: auto 1fr;
}

@media (min-width: 700px) {
  .issues_fail_b {
    padding: 25rem 0rem 10rem 0rem;
    justify-self: center;
  }
}

.issues_fail_c {
  grid-area: issues_fail_c;
  padding: 3rem 0rem 3rem 2rem;
  max-width: 25rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-self: left;
  box-sizing: unset;
  grid-template-rows: auto 1fr;
}

@media (min-width: 700px) {
  .issues_fail_c {
    padding: 25rem 20rem 10rem 0rem;
    justify-self: center;
  }
}

.issues_failure_header {
  grid-area: 8 / 1;
  padding: 3rem 2rem;
  max-width: 36rem;
  justify-self: center;
}

@media (min-width: 700px) {
  .issues_failure_header {
    grid-area: 5 / 1 / 5 / 4;
    padding: 10rem 20rem;
    max-width: none;
  }
}

.issues_fail_background {
  grid-area: 8 / 1 / 11 / 1;
  background-color: var(--primary);
  z-index: -1;
}

@media (min-width: 700px) {
  .issues_fail_background {
    grid-area: 5 / 1 / 5 / 4;
  }
}

.rect_sideline {
  width: 0.3rem;
  height: 10rem;
  background-color: #56ccf2;
  margin: 0rem 1rem 0rem 0rem;
  grid-area: 1 / 1 / 3 / 1;
}

/*--------------- ISSUES / SIGN UP (SECTION 4) -----------------*/

.issues_signup_a {
  grid-area: issues_signup_a;
  padding: 3rem;
  display: grid;
  justify-self: center;
}

@media (min-width: 700px) {
  .issues_signup_a {
    padding: 10rem 0rem 10rem 14rem;
  }
}

.issues_signup_c {
  grid-area: issues_signup_c;
  padding: 2rem;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .issues_signup_c {
    grid-area: issues_signup_c;
    padding: 10rem 20rem 10rem 0rem;
    display: grid;
    justify-self: center;
  }
}

.act1 {
  grid-area: 1 / 1;
  font-size: 10rem;
  padding: 0.5rem 0.5rem;
  color: var(--primary);
  line-height: 10rem;
}

@media (min-width: 700px) {
  .act1 {
    grid-area: 1 / 1;
    font-size: 14rem;
    padding: 0.5rem 0.5rem;
    color: var(--primary);
    line-height: 12rem;
  }
}

.now1 {
  grid-area: 2 / 1;
  font-size: 10rem;
  padding: 0.5rem 0.5rem;
  color: var(--primary);
  line-height: 10rem;
}

@media (min-width: 700px) {
  .now1 {
    grid-area: 2 / 1;
    font-size: 14rem;
    padding: 0.5rem 0.5rem;
    color: var(--primary);
    line-height: 12rem;
  }
}

.issues_signup_rect {
  height: 5rem;
  width: 30rem;
  border-radius: 0.4rem;
  border: solid 0.1rem var(--dark);
  background-color: white;
  margin: 1rem 0rem 1rem 0rem;
}

@media (min-width: 700px) {
  .issues_signup_rect {
    height: 5rem;
    width: 36rem;
    border-radius: 0.4rem;
    border: solid 0.1rem var(--dark);
    background-color: white;
    margin: 1rem 0rem 1rem 0rem;
  }
}

.issues_signup_rect_sm {
  height: 2rem;
  width: 2rem;
  border-radius: 0.4rem;
  border: solid 0.1rem var(--dark);
  background-color: white;
  margin: 1rem 0rem 1rem 0rem;
  grid-area: 3 / 1;
  align-self: center;
}

.issues_signup_c .search_field {
  grid-area: 3 / 1;
  align-self: center;
  padding: 1rem 0rem 0rem 0rem;
  justify-self: center;
}

@media (min-width: 700px) {
  .issues_signup_c .search_field {
    grid-area: 2 / 1;
    justify-self: left;
  }
}

.signup_volunteer {
  max-width: 37rem;
  line-height: 2rem;
}

.signup_volunteer1 {
  grid-area: 3 / 1 / 3 / 2;
  padding: 0rem 0rem 0rem 3rem;
  align-self: center;
}

.issues_signup_btn {
  margin: 1rem 0rem 1rem 0rem;
  grid-area: 4 / 1 / 4 / 2;
}

/*--------------- ISSUES / COMMON QUESTIONS (SECTION 5) -----------------*/

.issues_faq_a {
  grid-area: issues_faq_a;
  padding: 5rem;
  justify-self: center;
  max-width: 32rem;
}

@media (min-width: 700px) {
  .issues_faq_a {
    grid-area: issues_faq_a;
    padding: 10rem 0rem 10rem 20rem;
    max-width: none;
    justify-self: left;
  }
}

.issues_faq_background {
  background-color: #afcbff;
  z-index: -1;
  grid-area: 13 / 1 / 15 / 1;
}

@media (min-width: 700px) {
  .issues_faq_background {
    background-color: #afcbff;
    z-index: -1;
    grid-area: 7 / 1 / 7 / 4;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent;
  color: var(--dark);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-bottom: solid 0.2rem var(--dark);
  display: grid;
  max-width: 59rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: #f4f7fc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 1rem 0rem 2rem 1rem;
  /*background-color: white;*/
  display: none;
  overflow: hidden;
  max-width: 47rem;
  line-height: 2rem;
}

.plus {
  grid-area: 1 / 2;
  justify-self: right;
}

/* statue of liberty */

.issues_faq_c {
  grid-area: issues_faq_c;
  display: none;
}

@media (min-width: 700px) {
  .issues_faq_c {
    grid-area: issues_faq_c;
    display: inherit;
    padding: 5rem 20rem 0rem 0rem;
    justify-self: center;
    display: grid;
  }
}

.sca_faq_icon {
  max-height: 37rem;
  align-self: end;
}

/*--------------- ISSUES / Learn More (SECTION 6) -----------------*/

.issues_learn_background {
  grid-area: 15 / 1 / 18 / 1;
  z-index: -1;
  background-color: #afcbff;
  opacity: 30%;
}

@media (min-width: 700px) {
  .issues_learn_background {
    grid-area: 8 / 1 / 8 / 4;
    z-index: -1;
    background-color: #afcbff;
    opacity: 30%;
  }
}

.issues_learn_header {
  grid-area: 15 / 1;
  padding: 3rem 2rem;
}

@media (min-width: 700px) {
  .issues_learn_header {
    grid-area: 8 / 1 / 8 / 4;
    padding: 10rem 20rem;
  }
}

.issues_learn_a {
  grid-area: issues_learn_a;
  padding: 10rem 0rem 3rem 0rem;
  justify-self: center;
}

@media (min-width: 700px) {
  .issues_learn_a {
    grid-area: issues_learn_a;
    padding: 20rem 0rem 5rem 20rem;
  }
}

.issues_learn_b {
  grid-area: issues_learn_b;
  padding: 3rem 0rem 3rem 0rem;
  justify-self: center;
}

@media (min-width: 700px) {
  .issues_learn_b {
    grid-area: issues_learn_b;
    padding: 20rem 0rem 5rem 0rem;
  }
}

.issues_learn_c {
  grid-area: issues_learn_c;
  padding: 3rem 0rem 5rem 0rem;
  justify-self: center;
}

@media (min-width: 700px) {
  .issues_learn_c {
    grid-area: issues_learn_c;
    padding: 20rem 20rem 5rem 0rem;
  }
}

.sca_learn_icon {
  max-width: 25rem;
}

/* ------- references --------- */

.issues_ref {
  grid-area: issues_ref;
  padding: 5rem 0rem 5rem 0rem;
}

.issues_ref_header {
  padding: 2rem 2rem;
}

@media (min-width: 700px) {
  .issues_ref {
    grid-area: issues_ref;
    padding: 5rem 20rem 5rem 20rem;
  }
}

ul.issues_references_list {
  list-style: none;
  max-width: 28rem;
}

@media (min-width: 700px) {
  ul.issues_references_list {
    list-style: none;
    max-width: none;
  }
}

ul.issues_references_list li {
  padding: 1rem 0rem 1rem 0rem;
}

ul.issues_references_list li p:hover {
  color: #01447e;
  text-decoration: underline;
}
