.search-page {
  .results-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .results {
    display: grid;
    padding: 3rem 2rem 3rem 2rem;
    justify-self: left;

    @media (min-width: 700px) {
      justify-self: center;
      padding: 10rem 20rem 5rem 20rem;
    }

    h2 {
      text-align: center;

      @media (min-width: 700px) {
        text-align: left;
      }
    }
  }

  .results .search_rect1 {
    display: none;
  }

  @media (min-width: 700px) {
    .results .search_rect1 {
      display: inherit;
      height: 5rem;
      width: 100rem;
      background-color: #afcbff;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 2rem 0rem 0rem 0rem;
    }
  }

  .empty_state {
    justify-self: center;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;

    @media (min-width: 700px) {
      margin-bottom: 10rem;
      margin-top: 10rem;
    }
  }

  .empt_st {
    color: #afcbff;
    opacity: 30%;
    margin-bottom: 3rem;
  }

  .empty_state_container {
    @media (min-width: 700px) {
      width: 100rem;
      display: flex;
      justify-content: center;
    }
  }
}
