.pledge_wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "breadcrumb"
    "hero_box_a"
    "hero_box_b"
    "pledge_box_a"
    "pledge_box_b"
    "search"
    "pledge_reps"
    "pledge_endorse"
    "footer";

  // The image already has transparent padding included
  .dotted-image .image-container {
    padding-top: 0;
    padding-left: 0;
  }
}

@media (min-width: 700px) {
  .pledge_wrapper {
    display: grid;
    grid-template-areas:
      "header header"
      "breadcrumb breadcrumb"
      "hero_box_b hero_box_a"
      "pledge_box_a pledge_box_b"
      "search search"
      "pledge_reps pledge_reps"
      "pledge_endorse pledge_endorse"
      "footer footer";
    grid-column-gap: 5rem;
  }
}

/* ----------------- Hero Color Background --------------*/

.pledge_hero_background {
  background-color: var(--primary);
  grid-area: 2 / 1 / 5 / 1;
  z-index: -1;
}

@media (min-width: 700px) {
  .pledge_hero_background {
    grid-area: 2 / 1 / 4 / 3;
  }
}

/* ----------------- Hero Titles --------------*/

.pledge_wrapper .pledge_title {
  grid-area: 3 / 1 / 3 / 2;
  justify-self: center;
  text-transform: uppercase;
  color: var(--light);
  z-index: 1;
  padding-top: 2rem;
  font-size: 1.8rem;
}

@media (min-width: 700px) {
  .pledge_wrapper .pledge_title {
    grid-area: 3 / 1 / 3 / 3;
    padding: 0;
    font-size: 5rem;
    margin-top: 2rem;
  }
}

/*---------- PLEDGE PG / HERO UNIT / left side of hero unit -----------*/
.hero_box_a {
  grid-area: hero_box_a;
  padding: 7rem 0rem 0rem 0rem;
  // display: grid;
  // grid-template-rows: 1fr 1fr;
  // grid-template-columns: 1fr;
  max-width: 30rem;
  justify-self: center;
  box-sizing: unset;
}

@media (min-width: 700px) {
  .hero_box_a {
    padding: 12rem 20rem 10rem 0rem;
    max-width: 50rem;
  }
}

/*---------- PLEDGE PG / HERO UNIT / right side of hero unit -------*/

.hero_box_b {
  grid-area: hero_box_b;
  padding: 0rem 0rem 5rem 0rem;
  max-width: 30rem;
  display: grid;
  justify-self: center;
  box-sizing: unset;
}

@media (min-width: 700px) {
  .hero_box_b {
    grid-area: hero_box_b;
    padding: 15rem 0rem 10rem 20rem;
    max-width: 45rem;
    display: grid;
  }
}

.hero_box_b .pledge_hero_text {
  display: grid;
  grid-template-rows: auto auto;
  /*padding: 5rem 0rem 0rem 0rem;*/
  align-content: center;
}

.hero_box_b .hero_quote {
  opacity: 30%;
  font-size: 6em;
  align-self: end;
  justify-self: right;
}

.hero_box_b .hero_quote_txt {
  align-self: center;
  text-align: left;
  max-width: 33rem;
  justify-self: right;
}

/*---------- left side of pledge unit -----------*/

.pledge_box_a {
  grid-area: pledge_box_a;
  display: grid;
  padding: 5rem 0rem 5rem 0rem;
  max-width: 30rem;
  justify-self: center;
  box-sizing: unset;
}

@media (min-width: 700px) {
  .pledge_box_a {
    grid-area: pledge_box_a;
    display: grid;
    padding: 10rem 5rem 10rem 20rem;
    max-width: 50rem;
  }
}

.pledge_box_a .pledge {
  justify-self: center;
  max-height: 40rem;
}

/*---------- right side of pledge unit -----------*/

.pledge_box_b {
  grid-area: pledge_box_b;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  padding: 0rem 0rem 5rem 0rem;
  max-width: 30rem;
  justify-self: center;
  box-sizing: unset;
}

@media (min-width: 700px) {
  .pledge_box_b {
    padding: 10rem 20rem 10rem 0rem;
    max-width: 45rem;
  }
}

.pledge_box_b .small_rect {
  height: 0.5rem;
  width: 10rem;
  margin: 1rem 0rem 1rem 0rem;
  background-color: #eca632;
  align-self: end;
}

@media (min-width: 700px) {
  .pledge_box_b .small_rect {
    height: 1rem;
    width: 10rem;
    background-color: #eca632;
    align-self: end;
  }
}

.btn_trans_pledge {
  justify-self: center;
  align-self: center;
  margin: 1rem 0rem 1rem 0rem;
}

@media (min-width: 700px) {
  .btn_trans_pledge {
    justify-self: left;
    padding: 1.5rem 5rem;
    max-width: none;
  }
}

/*---------- PLEDGE PG / PLEDGE UNIT / background -----------*/

.pledge_pledge_background {
  background-color: #afcbff;
  grid-area: 5 / 1 / 7 / 2;
  z-index: -1;
}

@media (min-width: 700px) {
  .pledge_pledge_background {
    background-color: #afcbff;
    grid-area: 4 / 1 / 4 / 3;
    z-index: -1;
  }
}

/*---------- PLEDGE PG / SEARCH UNIT / background ----------*/

.pledge_search_background {
  background-color: var(--primary);
  grid-area: 7 / 1 / 8 / 2;
  z-index: -1;

  @media (min-width: 700px) {
    grid-area: 5 / 1 / 5 / 3;
  }
}

.entry_1 {
  grid-area: 1 / 1 / 1 / 3;
}

.entry_2 {
  grid-area: 2 / 1 / 2 / 3;
}

.entry_3 {
  grid-area: 3 / 1 / 3 / 3;
}

.btn_search {
  grid-area: 4 / 1 / 4 / 3;
  margin: 1rem 0rem 1rem 0rem;
  width: 20rem;
}

/*-- PLEDGE PG / WHO HAS SIGNED? UNIT/ Legislator Circle Section ---*/

.pledge_reps {
  display: flex;
  flex-direction: column;
  grid-area: pledge_reps;
  padding: 5rem 0rem 5rem 0rem;
  max-width: 30rem;
  justify-self: center;
  box-sizing: unset;

  @media (min-width: 700px) {
    padding: 10rem 20rem 0 20rem;
    max-width: none;
    justify-self: normal;
  }
}

.legislator-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, auto);

  @media (min-width: 700px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.pledge_leg_title {
  margin-bottom: 1rem;
  margin-top: 0;
}

.pledge_leg_subtitle {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.btn_trans_pledge2 {
  grid-area: 8 / 1 / 8 / 6;
  justify-self: center;
  margin: 2rem 0rem 2rem 0rem;
}

/*--------------- PLEDGE PG / ENDORSEMENTS ----------------*/

.pledge_endorse {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(2, auto);
  padding: 0rem 0rem 5rem 0rem;
  grid-gap: 1rem;
  grid-area: pledge_endorse;
  justify-self: center;
}

@media (min-width: 700px) {
  .pledge_endorse {
    grid-template-columns: repeat(3, auto);
    padding: 10rem 20rem 10rem 20rem;
    grid-gap: 2rem;
    justify-self: normal;
  }
}

.pledge_endorse_title {
  grid-area: 1 / 1 / 1 / 3;
}

@media (min-width: 700px) {
  .pledge_endorse_title {
    grid-area: 1 / 1 / 1 / 4;
    margin: 0rem 0rem 5rem 0rem;
  }
}

.endorse_img {
  max-width: 15rem;
  max-height: 10rem;
  align-self: center;
  justify-self: center;
}

@media (min-width: 700px) {
  .endorse_img {
    max-width: 20rem;
    max-height: 15rem;
    align-self: center;
    justify-self: center;
  }
}
