.dotted-image {
  display: grid;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: 700px) {
    max-width: 80%;
  }

  .background {
    grid-area: 1 / 1 / 1 / 1;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    .top-right-dots,
    .bottom-left-dots {
      width: 11.5rem;
      height: 11.5rem;
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: repeat(5, auto);

      @media (min-width: 700px) {
        width: 21.5rem;
        height: 21.5rem;
        margin: 0;
      }
    }

    .top-right-dots {
      grid-column-start: 2;
      justify-self: right;
      align-self: start;
    }

    .bottom-left-dots {
      grid-column-start: 1;
      justify-self: left;
      align-self: end;
    }
  }

  .image-container {
    opacity: 1;
    grid-area: 1 / 1 / 1 / 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    @media (min-width: 700px) {
      padding: 5rem;
    }

    img {
      min-width: 65%;
      max-width: min(450px, 100%);
    }
  }
}
