<div class="our-power-block">
    <h2>Our power</h2>
    <h3>What can you do?</h3>
    <div class="centered">
        <div class="our-power-content">
            <div>
                <h4>Call your representative</h4>
                <p>Commit to calling your state rep, we will contact you when your voice is needed most.</p>
            </div>
            <div>
                <h4>Join our phone bank</h4>
                <p>Call voters who live in districts with state reps who still don't support this bill.</p>
            </div>
            <div>
                <h4>Knock on doors</h4>
                <p>Engage voters at the door step about this issue and many more.</p>
            </div>
        </div>
    </div>
    <div class="centered">
        <a href="/#sign-up-form" class="button">Sign up to stay informed</a>
    </div>
</div>
