section.act-now {
  justify-self: center;

  @media (min-width: 700px) {
    justify-self: left;
  }

  &.dark {
    h1 {
      color: inherit;
    }
  }

  h1 {
    text-align: center;
    font-size: 8rem;
    padding: 0.5rem 0.5rem;
    color: var(--primary);
    line-height: 10rem;
    margin-bottom: 4rem;

    @media (min-width: 700px) {
      grid-area: 1 / 1;
      margin-bottom: 2rem;
      padding: 0.5rem 0.5rem;
      line-height: 12rem;
    }
  }

  .btn {
    font-size: 3rem;
    width: min(80%, 20rem);
  }

  .signup_volunteer {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  .btn-container {
    text-align: center;
  }
}
