.dotted-image {
  display: grid;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .background {
    grid-area: 1 / 1 / 1 / 1;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    .top-right-dots,
    .bottom-left-dots {
      width: 11.5rem;
      height: 11.5rem;
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: repeat(5, auto);

      @media (min-width: 700px) {
        width: 21.5rem;
        height: 21.5rem;
        margin: 0;
      }
    }

    .top-right-dots {
      grid-column-start: 2;
      justify-self: right;
      align-self: start;
    }

    .bottom-left-dots {
      grid-column-start: 1;
      justify-self: left;
      align-self: end;
    }
  }

  .image-container {
    opacity: 1;
    grid-area: 1 / 1 / 1 / 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    @media (min-width: 700px) {
      padding: 5rem;
    }

    img {
      max-width: min(450px, 100%);
    }
  }

  .dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #56ccf2;
    border-radius: 50%;
    display: inline-block;
    margin: 0.4rem;
    opacity: 50%;

    @media (min-width: 700px) {
      height: 2.3rem;
      width: 2.3rem;
      background-color: #56ccf2;
      border-radius: 50%;
      display: inline-block;
      margin: 1rem;
    }
  }
}
