<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% if page.title %}
      <title>{{ page.title }} | Act On Mass</title>
    {% else %}
      <title>Act On Mass</title>
    {% endif %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
  </head>
  <body>
      {% include header.html %}
      {{content}}
      {% include footer.html %}
  </body>
</html>
