---
layout: compress
---

{% if page.title %} {% assign title = page.title | append: " | Act On Mass" %} {% else %} {% assign title = "Act On
Mass" %} {% endif %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include google-analytics.html %}
    <title>{{ title | smartify }}</title>
    <meta charset="UTF-8" />
    <meta property="og:title" content="{{ title | smartify}}" />
    <meta property="og:site_name" content="ActOnMass" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ site.data.general_settings.description }}" />
    <meta property="og:image" content="{{ site.url }}{{ page.image | default: '/img/fb-thumbnail.png' }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <link href="/css/index.css" rel="stylesheet" />
    {% for style in page.styles %}
      <link rel="stylesheet" href="{{style}}">
    {% endfor %}
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <link
    href="https://fonts.googleapis.com/css?family=Raleway:500,700,800%7CRoboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <script
      defer
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script defer src="/js/bundle.js"></script>
    <script defer src="/js/script.js"></script>
    <script defer charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script defer src="https://kit.fontawesome.com/e83d8d605f.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include header.html %} {{content}} {% include footer.html %}
  </body>
</html>
