---
layout: base
---

<main class="bills-page">
  <section class="cbox headline">
    <div class="w1400">
      {% include breadcrum.html %}
      <h1 class="fUppercase fBold">progressive bills</h1>
      <div class="list-bills">
        {% for issue in site.issues %}
          {% assign short_id = issue.id | replace: "/issues/", "" %}
          {% assign bills = site.data.cache.issues_by_id[short_id].bills %}
          {% if bills %}
            <div class="issue hbox">
              <div class="logo cbox desktop-only">
                <div class="logo-inner cbox">
                  <i class="fa fa-{{ issue.logo }}"></i>
                </div>
              </div>
              <div class="content">
                <div class="issue-title-wrapper">
                  <h2 class="issue-title"><i class="fa fa-{{ issue.logo }}"></i>{{issue.title}}</h2>
                </div>
                {% for bill_id in bills %}
                  {% assign bill = site.data.cache.bills_by_id[bill_id] %}
                  {% unless bill.hidden %}
                    <h4 class="bill fRoboto"><a href="{{bill.id}}">{{bill.title}}</a></h4>
                  {% endunless %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</main>
