---
layout: default
---

{% assign bill = page %}
{% assign committee = site.data.cache.committees_by_id[bill.committee] %}



<h1>{{bill.short_title}}</h1>

<ul>
{% for point in bill.summary %}
  <li>{{ point }}</li>
{% endfor %}
</ul>

<hr/>


<h2>The decision makers</h2>
<h3>{{ committee.title }}</h3>

<div class="committee-block">
  <div class="committee-senators">

    <h4>Senators</h4>

    {% assign senate_chair = site.data.cache.legislators_by_id[committee.senate_chair] %}
    {% assign senate_vice_chair = site.data.cache.legislators_by_id[committee.senate_vice_chair] %}

    <ul>
      <li>
        Chair: <span style="{% if bill.co_sponsors contains committee.senate_chair %}color: green{% else %}color: red{% endif %}">
          {{ senate_chair.first_name }} {{ senate_chair.last_name }}
        </span>
      </li>
      <li>
        Vice-chair: <span style="{% if bill.co_sponsors contains committee.senate_vice_chair %}color: green{% else %}color: red{% endif %}">
          {{ senate_vice_chair.first_name }} {{ senate_vice_chair.last_name }}
        </span>
      </li>
    </ul>

    <p>Members:</p>
    <ul>
      {% for member_id in committee.senate_members %}
      {% assign rep = site.data.cache.legislators_by_id[member_id] %}
        {% if bill.co_sponsors contains member_id %}
          <li><span style="color: green">{{ rep.first_name }} {{ rep.last_name }}</span></li>
        {% else %}
        <li><span style="color: red">{{ rep.first_name }} {{ rep.last_name }}</span></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="committee-reps">

    <h4>Reprentatives</h4>


    {% assign house_chair = site.data.cache.legislators_by_id[committee.house_chair] %}
    {% assign house_vice_chair = site.data.cache.legislators_by_id[committee.house_vice_chair] %}

    <ul>
      <li>
        Chair: <span style="{% if bill.co_sponsors contains committee.house_chair %}color: green{% else %}color: red{% endif %}">
          {{ house_chair.first_name }} {{ house_chair.last_name }}
        </span>
      </li>
      <li>
        Vice-chair: <span style="{% if bill.co_sponsors contains committee.house_vice_chair %}color: green{% else %}color: red{% endif %}">
          {{ house_vice_chair.first_name }} {{ house_vice_chair.last_name }}
        </span>
      </li>
    </ul>

    <p>Members:</p>
    <ul>
      {% for member_id in committee.house_members %}
      {% assign rep = site.data.cache.legislators_by_id[member_id] %}
        {% if bill.co_sponsors contains member_id %}
          <li><span style="color: green">{{ rep.first_name }} {{ rep.last_name }}</span></li>
        {% else %}
        <li><span style="color: red">{{ rep.first_name }} {{ rep.last_name }}</span></li>
        {% endif %}
      {% endfor %}
    </ul>
    </div>
</div>

<h2>Who has co-sponsored</h2>

{% include map.html greens = bill.co_sponsors %}

<h2>History of the bill</h2>

{% for event in bill.history%}

<h5>
{{ event.date | append: "-01" | date: "%B %Y"}}
</h5>

<p>{{ event.description | markdownify }}</p>

{% endfor %}
