---
layout: base
---

<script defer src="/js/anima.js"></script>
<main>
  <div class="actonmass anima-word-break">
    <div class="rectangle"></div>
    <section class="headline">
      <div class="section-container">
        <div class="a100renewablestr">
          100% RENEWABLES &amp; TRANSPARENT LEADERSHIP
        </div>
      </div>
    </section>
    <section class="the-problem">
      <div class="section-container cbox">
        <div class="theproblem">
          THE PROBLEM
        </div>
        <div class="staterepresentative">
          State Representatives tell us they support <br />100% renewables, but
          then the bill dies in committee. <br />How did they actually vote? No
          one knows!
        </div>
      </div>
    </section>
    <section class="tofight">
      <div class="section-container">
        <div class="tofightthisweu2019re">
          <span class="span1">To fight this, we’re </span
          ><span class="span2">proposing</span><span class="span3"> </span
          ><span class="span4">two ballot measures</span
          ><span class="span5">:</span>
        </div>
        <div class="rectangle3"></div>
      </div>
    </section>
    <section class="voting">
      <div class="section-container">
        <div class="cbox">
          <img
            alt="Image"
            anima-src="{{page.img_folder}}act-on-mass-vote-3@2x.png"
            class="vote3"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          />
          <div class="transparentvoting">
            Transparent voting
          </div>
          <div class="sorepsknowwecan">
            so Reps know we can hold them accountable
          </div>
        </div>
        <div class="group13">
          <div class="rectangle5"></div>
          <img
            alt="Image"
            anima-src="{{page.img_folder}}maclimated-democracy-triangle@2x.png"
            class="triangle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          />
        </div>
        <div class="cbox">
          <img
            alt="Image"
            anima-src="{{page.img_folder}}act-on-mass-renew-3@2x.png"
            class="renew3"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          />
          <div class="a100renewables">
            100% Renewables
          </div>
          <div class="withajusttransiti">
            with a just transition
          </div>
        </div>
      </div>
    </section>
    <section class="these-will-pass">
      <div class="section-container cbox">
        <div class="thesewillpasswith">
          <span class="span1">These will pass with </span
          ><span class="span2">broad support</span
          ><span class="span3"> so we can push for</span
          ><span class="span4"> broad reform</span><span class="span5">. </span>
        </div>
        <div class="thenboldclimatea">
          Then, bold climate action and other popular legislation <br />will
          have a fighting chance in the statehouse.
        </div>
      </div>
    </section>
    <section class="form" id="sign">
      <div class="section-container">
        <div class="joinusbysigningt">
          JOIN US BY SIGNING THE APPLICATION FORM
        </div>
        <div class="grid">
          {% include circled-number.html number=1 %}
          <div>
            <div class="printyourformata">
              <span class="span1">Print your form at </span
              ><span class="span2"><a href="https://actonmass.org/print">ActOnMass.org/print</a></span>
            </div>
            <div class="subtitle">
              It must be double-sided.
            </div>
            <div class="noprintervisitac">
              <span class="span1">No printer? Visit </span
              ><span class="span2"><a href="https://actonmass.org/mail">ActOnMass.org/mail</a></span
              ><span class="span3"> to request a paper form.</span>
            </div>
          </div>
          {% include circled-number.html number=2 %}
          <div>
            <div class="completeyourform">
              Complete your form
            </div>
            <div class="subtitle">
              Make sure there are no extra markings of any kind on the page.
            </div>
            <div class="hbox">
              <div>
                <div class="instruction hbox">
                  Add your state representative district
                  <img
                    alt="Image"
                    anima-src="{{page.img_folder}}act-on-mass-line@2x.png"
                    class="line"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                  />
                </div>
                <img
                  alt="Image"
                  anima-src="{{page.img_folder}}act-on-mass-bitmap-3.png"
                  class="bitmap2"
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                />
              </div>
              <div>
                <div class="instruction fRegular">
                  <span class="span1">Visit </span
                  ><span class="fDemiBold">WhereDoIVoteMA.com</span
                  ><span class="span3"> to find yours</span>
                </div>
                <img
                  alt="Image"
                  anima-src="{{page.img_folder}}act-on-mass-bitmap-1.png"
                  class="bitmap4"
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                />
                <div class="fRegular">
                  If you still aren’t sure, just leave it blank.
                </div>
              </div>
            </div>
            <div class="instruction">
              <span class="span1">Fill in your name and address</span
              ><span class="fRegular">
                (leave the ward and precinct blank)</span
              >
            </div>
            <img
              alt="Image"
              anima-src="{{page.img_folder}}maclimated-democracy-bitmap-4.png"
              class="bitmap3"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            />
            <div class="instruction">
              Add your city or town name
            </div>
            <img
              alt="Image"
              anima-src="{{page.img_folder}}maclimated-democracy-bitmap.png"
              class="bitmap"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            />
          </div>
          {% include circled-number.html number=3 %}
          <div>
            <div class="mailyourform">
              Mail your form to:
            </div>
            <div class="actonmass11beaco">
              Act on Mass<br />11 Beacon St STE 510<br />Boston, MA 02108
            </div>
          </div>
        </div>
        <div class="ifyouhaveanyques">
          <span class="span1">If you have any questions, email </span
          ><span class="span2"><a href="mailto:BallotQuestion@BetterFutureProject.org">BallotQuestion@BetterFutureProject.org</a></span>
        </div>
      </div>
    </section>
    <section class="next-steps">
      <div class="section-container">
        <div class="nextsteps">
          NEXT STEPS
        </div>
        <div class="hbox next-step-actions">
          <div class="cbox">
            <div class="group9 action-logo">
              <img
                alt="Image"
                anima-src="{{page.img_folder}}maclimated-democracy-oval-3@2x.png"
                class="oval"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
              />
              <img
                alt="Image"
                anima-src="{{page.img_folder}}maclimated-democracy-oval-4@2x.png"
                class="oval1"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
              />
              <div class="rectangle5"></div>
            </div>
            <div class="learnmoreatactonm">
              <span class="span1">Learn more at<br /></span
              ><span class="span2"><a href="/info">{{page.formatted_url}}/info</a></span>
            </div>
          </div>
          <div class="cbox">
            <img
              alt="Image"
              anima-src="{{page.img_folder}}act-on-mass-mail-3@2x.png"
              class="mail3 action-logo"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            />
            <div class="sendthistoyourfr">
              Send this to your <br />friends and family
            </div>
          </div>
          <div class="cbox">
            <div class="group4 action-logo">
              <div class="group7">
                <div class="rectangle7"></div>
              </div>
              <div class="rectangle6"></div>
              <div class="rectangle11"></div>
              <div class="rectangle21"></div>
              <div class="rectangle31"></div>
              <div class="rectangle41"></div>
              <div class="rectangle5"></div>
            </div>
            <div class="signuptovolunteer">
              <span class="span1">Sign up to volunteer <br />at </span
              ><span class="span2"><a href="/vol">{{page.formatted_url}}/VOL</a></span>
            </div>
          </div>
          <div class="cbox">
            <img
              alt="Image"
              anima-src="{{page.img_folder}}maclimated-democracy-donate-3@2x.png"
              class="donate3 action-logo"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            />
            <div class="donatetoactonmas">
              <span class="span1">Donate to </span
              ><span class="span2"><a href="https://secure.actblue.com/donate/act-on-mass">Act On Mass</a></span
              ><span class="span3"> &amp; <br /></span
              ><span class="span4"><a href="https://www.betterfutureaction.org/350massactiondonate">350 Mass</a></span
              ><span class="span5"> if you are able</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="logos hbox">
      <img
        alt="Image"
        anima-src="{{page.img_folder}}maclimated-democracy-logos-3@2x.png"
        class="logos3"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
      />
      <img
        alt="Image"
        anima-src="{{page.img_folder}}act-on-mass-350-logo@2x.png"
        class="a350logo"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
      />
    </section>
  </div>
</main>
