---
layout: base
---

<main class="homepage_wrapper">
  <section class="hero">
    <div class="hero_left">
      <img class="hero_img" src="/img/hero_img.png" alt="women protesting" />
      <div class="dots_1">
        {% for i in (1..25) %}
        <span class="dot"></span>
        {% endfor %}
      </div>
      <div class="dots_2">
        {% for i in (1..25) %}
        <span class="dot"></span>
        {% endfor %}
      </div>
    </div>
    <div class="hero_text">
      <h4 class="header1 fRaleway fWhite fUppercase fBold">act on mass</h4>
      <svg class="smLine" width="50" height="3">
        <rect width="300" height="100" style="fill:rgb(108,212,255)" />
      </svg>
      <h2 class="header2 fWhite fUppercase fExbold">grassroots.</h2>
      <h2 class="header3 fWhite fUppercase fExbold">all volunteer.</h2>
      <h6 class="header4 fRaleway fWhite fBold">Fighting for progressive policies & accountability on beacon hill.</h6>
      <a href="#issues" class="fRoboto fExbold fUppercase btn btn_issues">VIEW ISSUES</a>
    </div>
  </section>

  {% include act-now.html theme="dark" %}

  <section id="issues" class="issues">
    <div class="rect rect1"></div>
    <h2 class="issues_title fUppercase">key progressive issues:</h2>
    <div class="issues_grid">
      {% assign issues = site.issues | sort: 'order' %} {% for issue in issues %}
      <a
        href="{{issue.url}}"
        class="issue-container issues_img hvr-float"
        style="background-image: url('{{ issue.img }}');"
      >
        <div class="issue-content">
          <i class="fa fa-{{ issue.logo }}"></i>
          <h3>{{ issue.title | smartify }}</h3>
          <p>{{ issue.subtitle | smartify }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>

  <section class="accountability">
    <div class="rect rect1"></div>
    <h2 class="account_title fUppercase fWhite">the transparency pledge:</h2>
    <div class="pledge_left">
      {% include hero-image.html img="/img/pledge_img.png" alt="Rep Gouveia signed the pledge!" %}
    </div>
    <div class="account_text">
      <h3 class="account_text1 fUppercase fWhite fExbold">Together we can create change.</h3>
      <h4 class="account_text2 fRoboto fWhite fLight">
        We can ask our elected legislators to take action to create transparency today so important progressive bills
        don’t die in darkness.
      </h4>
      <a href="/pledge" class="fRoboto fExbold fUppercase btn btn_pledge">the pledge</a>
    </div>
  </section>

  {% include find-my-rep.html class="light" %}

</main>
