---
layout: base
---

<div id="top-banner-container">
    <div id="top-banner-content">
        <a class="button" href="{{ page.call_to_action.page }}">{{ page.call_to_action.text }}</a>
        {% include youtube-video.html src=page.video %}
    </div>
</div>
<div class="sign-up-form-container">
    <div id="sign-up-form">
        <h2>{{ page.sign_up_text }}</h2>
        {% include signup-form.html %}
    </div>
</div>
<div class="page-content-container">
    <div class="page-content">
        {{ content }}
        <h3 id="issues" class="issues-title">Issues</h3>
        <div class="issues">
            {% assign issues = site.issues | sort: 'order' %}
            {% for issue in issues %}
                <a href="{{issue.url}}" class="issue-container" style="background-image: url('{{ issue.img }}');">
                    <div class="issue-content">
                        <i class="fa fa-{{ issue.logo }}"></i>
                        <h3>{{ issue.title }}</h3>
                        <p>{{ issue.subtitle }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<div id="donate-banner">
    <p>{{ page.donate_text }}</p>
    {% include donate-button.html %}
</div>

