---
layout: base
---

<main class="homepage_wrapper">
  <section class="darker cbox">
    <div class="hero w1400">
      <div class="hero_left">
        {% include hero-image.html img="/img/home-v2.jpg" alt="Young people protesting holding signs" %}
      </div>
      <div class="hero_text">
        <h4 class="header1 fRaleway fWhite fUppercase fBold">act on mass</h4>
        <svg class="smLine" width="50" height="3">
          <rect width="300" height="100" style="fill:rgb(108,212,255)" />
        </svg>
        <h6 class="header4 fRaleway fWhite fBold">Fighting corruption and inaction in the Massachusetts State House.</h6>
        <h6 class="header4 fRaleway fWhite fBold">Empowering constituents to hold their legislators accountable.</h6>
        <h6 class="header4 fRaleway fWhite fBold">Organizing to build a functioning democracy.</h6>
        {% include signup-form.html %}
      </div>
    </div>
  </section>

  <section class="take_action hbox" id="sign-up-form">
    <div class="learn vbox action">
      <h3 class="take_action_txt fExbold">What We Do</h3>
      <h4 class="take_action_txt fRoboto fLight">We're building a democracy that answers to the many.</h4>
      <div class="btn-container">
          <a href="/about-us" class="fRoboto fExbold fUppercase btn">Explore our work</a>
      </div>
    </div>
    <div class="act vbox action">
      <h3 class="take_action_txt fExbold">Join our campaign</h3>
      <h4 class="take_action_txt fRoboto fLight">
        Join your district team. Advocate for a transparent and functioning state house
      </h4>
      <div class="btn-container">
        <a href="/the-campaign" class="fRoboto fExbold fUppercase btn">Join our campaign</a>
      </div>
    </div>
  </section>

  <section id="issues" class="issues">
    <div class="rect rect1"></div>
    <h2 class="issues_title fUppercase">key progressive issues:</h2>
    <div class="issues_grid">
      {% assign issues = site.issues | sort: 'order' %} {% for issue in issues %}
      <a
        href="{{issue.url}}"
        class="issue-container issues_img hvr-float"
        style="background-image: url('{{ issue.img }}');"
      >
        <div class="issue-content">
          <i class="fa fa-{{ issue.logo }}"></i>
          <h3>{{ issue.title | smartify }}</h3>
          <p>{{ issue.subtitle | smartify }}</p>
        </div>
      </a>
      {% endfor %}
      <a
        href="/the-campaign"
        class="issue-container issues_img hvr-float"
        style="background-image: url('/img/issue-transparency.jpg');"
        >
        <div class="issue-content">
          <i class="fas fa-search"></i>
          <h3>Transparency</h3>
        </div>
      </a>
    </div>
  </section>

  <section class="accountability dark">
    <div class="rect rect1"></div>
    <h2 class="account_title fUppercase fWhite">the transparency campaign:</h2>
    <div class="pledge_left">
      {% include hero-image.html img="/img/the-campaign.jpg" alt="Protesters in front of the Massachusetts State House" %}
    </div>
    <div class="account_text">
      <h3 class="account_text1 fUppercase fWhite fExbold">Demand transparency</h3>
      <h4 class="account_text2 fRoboto fWhite fLight">
        At the start of every legislative session, the State House writes its own rulebook. Join your district team to demand that our legislators change the broken, anti-democratic rules in the State House.
      </h4>
      <a href="/the-campaign" class="fRoboto fExbold fUppercase btn btn_pledge">the campaign</a>
    </div>
  </section>

  <section class="pledge accountability light-blue">
    <div class="rect rect1"></div>
    <h2 class="account_title fUppercase">the transparency pledge:</h2>
    <div class="pledge_left">
      {% include hero-image.html img="/img/pledge_img.png" alt="Rep Gouveia signed the pledge!" %}
    </div>
    <div class="account_text">
      <h3 class="account_text1 fUppercase fExbold">Together we can create change.</h3>
      <h4 class="account_text2 fRoboto fLight">
        We can ask our elected legislators to take action to create transparency today so important progressive bills
        don’t die in darkness.
      </h4>
      <a href="/pledge" class="fRoboto fExbold fUppercase btn btn_pledge">the pledge</a>
    </div>
  </section>

  {% include find-my-rep.html theme="light" mode='campaign' %}

</main>
