---
layout: new-base
---

{% assign issue = page %}

<main class="issue-page">
  <section class="headline dark">
    <div class="issues_hero_a">
      {% include hero-image.html img=issue.page_img alt='' %}
    </div>
    <div class="issues_hero_c">
      <h1 class="hero_title fRaleway fBold">immigration</h1>
      <h2 class="hero_quote_txt fRaleway fWhite fRegular">
        Every day we hear horror stories about families being ripped apart
      </h2>
    </div>
  </section>
  <section class="bills">
    <h3 class="issues_bill_header fRaleway fUppercase fExbold">bills to support {{issue.bills_to_support_title}}</h3>
    <div class="bill-container">
      {% for bill_id in issue.highlighted_bills%}
        <div class="bill vbox">
          {% assign bill = site.data.cache.bills_by_id[bill_id] %}
          <div class="bill-text">
            <h4 class="issues_bill_title fRaleway fExbold fUppercase">{{bill.short_title}}</h4>
            <div class="rect_underline"></div>
            <ul class="issues_bills_bullets">
              {% for point in bill.summary %}
                <li><p class="fRoboto fRegular">{{point}}</p></li>
              {% endfor %}
            </ul>
          </div>
          <div class="bill-btn-container">
            <a href="{{bill.id}}" class="btn billbtn fRoboto fBold fUppercase">read more</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="failures">

  </section>
</main>
