---
layout: base
---

{% assign leg = page %}
{% if leg.chamber == 'house' %}
{% assign leg_title = 'Rep.' %}
{% else %}
{% assign leg_title = 'Sen.' %}
{% endif %}

<main class="legislator-page">
  <div class="cbox">
    <div class="w1400">
      {% include breadcrum.html %}
    </div>
  </div>
  <div class="cbox">
    <div class="w1400 top-container">
      <section class="rep-info top-box dark cbox">
        <div class="rep-info-container">
          {% if leg.square_picture %}
          <img src="{{leg.square_picture}}" alt="{{leg.first_name}} {{leg.last_name}}" />
          {% endif %}
          <p class="fRoboto fLight fWhite">{{leg_title}} {{leg.first_name}} {{leg.last_name}} - {{leg.party}}</p>
          <div class="icons">
            {% if leg.email and leg.email != "" %}<a href="mailto:{{leg.email}}"><i class="far fa-envelope fa-2x"></i></a>{% endif %}
            {% if leg.facebook and leg.facebook != "" %}<a href="{{leg.facebook}}" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>{% endif %}
            {% if leg.twitter and leg.twitter != "" %}<a href="https://twitter.com/{{leg.twitter}}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>{% endif %}
            {% if leg.website and leg.website != "" %}<a href="{{leg.website}}" target="_blank"><i class="far fa-window-maximize fa-2x"></i></a>{% endif %}
            {% if leg.phone and leg.phone != "" %}<a href="tel:{{leg.phone | uri_escape}}"><i class="fas fa-phone fa-2x"></i></a>{% endif %}
          </div>
        </div>
      </section>
      {% if leg.chamber == 'senate' %}
        <section class="top-box top-box-b dark">
          <h4 class="leg_pledge fUppercase fWhite fRaleway fRegular">transparency pledge</h4>
          <div class="rect6">
            {% if leg.pledge == false %}
            <img class="red_x" src="/img/red_x.png" alt="red X" />
            <h5 class="leg_pledge_txt fWhite fRoboto fLight">Ask {{leg_title}} {{leg.last_name}} to sign the pledge!</h5>
            {% else %}
            <img class="green_check" src="/img/green_check.png " alt="green check" />
            <h5 class="leg_pledge_txt fWhite fRoboto fLight">{{leg_title}} {{leg.last_name}} signed the pledge!</h5>
            {% endif %}
          </div>
          {% if leg.pledge == false %}
          {% capture btn_txt %}contact {{leg_title}}{% endcapture %}
            {% include modals/request-sign-pledge.html txt=btn_txt leg=leg %}
          {% endif %}
        </section>
      {% else %}
        <section class="top-box top-box-b dark">
          <h4 class="leg_pledge fUppercase fWhite fRaleway fRegular">The People's House</h4>
          <div class="rect6">
            {% if leg.supports_the_campaign != true %}
            <!-- <img class="red_x" src="/img/red_x.png" alt="red X" /> -->
            <h5 class="leg_pledge_txt fWhite fRoboto fLight">Ask {{leg_title}} {{leg.last_name}} to support the campaign!</h5>
            {% else %}
            <img class="green_check" src="/img/green_check.png " alt="green check" />
            <h5 class="leg_pledge_txt fWhite fRoboto fLight">{{leg_title}} {{leg.last_name}} supports the campaign!</h5>
            {% endif %}
          </div>
          {% if leg.supports_the_campaign != true %}
          {% capture btn_txt %}contact {{leg_title}}{% endcapture %}
            {% include modals/request-support-campaign.html txt=btn_txt leg=leg %}
          {% endif %}
        </section>
      {% endif %}
      <section class="top-box leg-committees cbox dark">
        <div class="leg-committees-container">
          <h4 class="leg_committ fRaleway fWhite fUppercase fRegular">Committees</h4>
          {% if leg.committees.size > 0 %}
            <div class="leg-list-committees">
            {% assign committees = leg.committees | sort: "priority" %}
            {% for committee in committees %}
              {% if committee.role != "Member" %}
                <div class="rect7 chair">
                  <p class="fWhite fRegular">{{committee.role}}</p>
                  <h5 class="fWhite fRoboto fLight">{{ committee.title }}</h5>
                </div>
              {% else %}
                <div class="rect7">
                  <h5 class="fWhite fRoboto fLight">{{ committee.title }}</h5>
                </div>
              {% endif %}
            {% endfor %}
            </div>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
  <div class="cbox">
    <div class="w1400 bottom-container">
      <ul class="tabs dark">
        <li data-tab-target="#tab1" class="fInactive fUppercase fRaleway active tab dark">Progressive History</li>
        <li data-tab-target="#tab2" class="fInactive fUppercase fRaleway tab dark">Co-Sponsored Bills</li>
        <li data-tab-target="#tab3" class="fInactive fUppercase fRaleway tab dark">{{leg.first_name}} Says...</li>
      </ul>

      <div class="tab-content darker">
        <div id="tab1" data-tab-content class="active">
          {% assign votes = leg.votes | sort:"date" | reverse %}
          {% for vote in votes %}
          <div class="item_1">
          {% case vote.is_progressive %}
            {% when true %}
              <img class="green_check" src="/img/green_check.png" alt="green check">
              <p class="fWhite fLight">{{vote.date | date: "%Y" }} - {{ vote.description | markdownify | remove: "<p>" | remove: "</p>" }}</p>
            {% when false %}
              <img class="red_x" src="/img/red_x.png" alt="red x">
              <p class="fWhite fLight">{{vote.date | date: "%Y" }} - {{ vote.description | markdownify | remove: "<p>" | remove: "</p>" }}</p>
            {% else %}
              <div class="grey_question">
                <i class="fas fa-question-circle"></i>
              </div>
              <p class="fWhite fLight">{{vote.date | date: "%Y" }} - {{ vote.description | markdownify | remove: "<p>" | remove: "</p>" }}</p>
          {% endcase %}
          </div>
          {% endfor %}
        </div>
        <div id="tab2" data-tab-content>
          {% for issue in site.issues %}
          {% assign short_id = issue.id | replace: "/issues/", "" %}
          {% assign bills = site.data.cache.issues_by_id[short_id].bills %}
          {% if bills %}
            <h3 class="cosponsor_title fWhite fRoboto fRegular">{{issue.title}}</h3>
            {% for bill_id in bills %}
            {% assign bill = site.data.cache.bills_by_id[bill_id] %}
            <div class="item_1">
              {% if leg.cosponsored_bills contains bill_id %}
                <img class="green_check" src="/img/green_check.png" alt="green check">
              {% else %}
                <img class="red_x" src="/img/red_x.png" alt="red x">
              {% endif %}
              <p class="fWhite fLight"><a href="{{bill.id}}">{{bill.title}}</a></p>
              {% unless leg.cosponsored_bills contains bill_id %}
                {% include modals/request-co-sponsorship.html txt="request co-sponsorship" style="S" leg=leg bill=bill %}
              {% endunless %}
            </div>
            {% endfor %}
          {% endif %}
          {% endfor %}
        </div>
        <div id="tab3" data-tab-content>
          <p class="quote_text fWhite fRegular">No quote yet!</p>
        </div>
      </div>
    </div>
  </div>
</main>

